<main class="content px-3 py-4">
    <div class="container-fluid">
        <div class="mb-3">
            <!-- Tab items -->
            <div class="d-flex justify-content-between">
                <div class="tabs">
                    <div class="tab-item active">
                        Tất cả
                    </div>
                    <div class="tab-item">
                        Món tráng miệng
                    </div>
                    <div class="tab-item">
                        Món chính
                    </div>
                    <div class="tab-item">
                        món chay
                    </div>
                </div>
                <div class="p-2">
                    <button type="button" class="btn btn-primary btn-sm d-flex align-items-center"
                        data-toggle="modal" data-target="#menuModal" data-whatever="@mdo">
                        <i class="lni lni-plus mr-2"></i>
                        Thêm mới
                    </button>

                </div>
            </div>
            <table class="table">
                <thead>
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">First</th>
                        <th scope="col">Last</th>
                        <th scope="col">Handle</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <th scope="row">1</th>
                        <td>Mark</td>
                        <td>Otto</td>
                        <td>@mdo</td>
                    </tr>
                    <tr>
                        <th scope="row">2</th>
                        <td>Jacob</td>
                        <td>Thornton</td>
                        <td>@fat</td>
                    </tr>
                    <tr>
                        <th scope="row">3</th>
                        <td>Larry</td>
                        <td>the Bird</td>
                        <td>@twitter</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</main>


<div class="modal fade" id="menuModal" tabindex="-1" aria-labelledby="menuModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-xl">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="menuModalLabel">Thêm mới thực đơn</h5>
                <button type="button" class="btn-close d-flex justify-content-center align-items-center border-none" data-dismiss="modal" aria-label="Close">
                    <i class="lni lni-close"></i>
                </button>
            </div>
            <div class="modal-body">
                <div class="container-fluid">

                    <div class="layout-modal">

                        <div class="layout-modal_item d-flex justify-content-between">
                           
                            <div class="img-area d-flex  justify-content-start">
                                <p class="text-center" style="color:#777">
                                    <span style="font-size: 50px;color:#111" class="mb-2">
                                        <i class="lni lni-cloud-upload fs-20"></i>
                                    </span>
                                    Không có hình ảnh đính kèm
                                </p>

                            </div>
                             <button type="button" class="btn btn-secondary fs-12">
                                <input type="file" id="file-input" name="file-input" class="d-none" accept="image/png, image/jpeg" multiple 
                                enctype='multipart/form-data'/>
                                <label id="file-input-label" for="file-input" class="mb-0">
                                    Thêm hình ảnh
                                </label>
                             </button>
                        </div>

                        <div class="layout-modal_item">
                            <span class="modal-item_header">Tên thực đơn</span>
                            <div class="input-group">
                                <input type="text" class="form-control" placeholder="Nhập tên thực đơn" >
                            </div>
                        </div>

                        <div class="layout-modal_item">
                             <span class="modal-item_header">Loại thực đơn</span>
                            <select class="custom-select">
                                <option selected>Chọn loại thực đơn</option>
                                <option value="1">Món tráng miệng</option>
                                <option value="2">Món chính</option>
                                <option value="3">Món chay</option>
                            </select>
                        </div>
                        <div class="layout-modal_item">
                             <span class="modal-item_header">Giá tiền</span>
                            <div class="input-group">
                                <input type="number" class="form-control" placeholder="Nhập giá tiền" >
                            </div>
                        </div>
                      
                       
                        <div class="layout-modal_item">
                           <span class="modal-item_header">Nguyên liệu</span>
                            <select class="selectpicker show-tick" data-live-search="true" multiple title="Tìm nguyên liệu"
                                data-width="100%" data-actions-box="true" data-selected-text-format="count > 2" id="ingredient" >
                                <option data-tokens="ketchup mustard">Rau snack</option>
                                <option data-tokens="mustard">Cà chua</option>
                                <option data-tokens="frosting">Hành tây</option>
                                <option data-tokens="frosting">Thịt lợn</option>
                                <option data-tokens="frosting">Thịt lợn</option>
                                <option data-tokens="frosting">Thịt lợn</option>
                                <option data-tokens="frosting">Thịt lợn</option>
                                <option data-tokens="frosting">Thịt lợn</option>
                                <option data-tokens="frosting">Thịt lợn</option>
                                <option data-tokens="frosting">Thịt lợn</option>
                                <option data-tokens="frosting">Thịt lợn</option>
                                <option data-tokens="frosting">Thịt lợn</option>
                                <option data-tokens="frosting">Thịt lợn</option>
                                <option data-tokens="frosting">Thịt lợn</option>
                                <option data-tokens="frosting">Thịt lợn</option>
                                <option data-tokens="frosting">Thịt lợn</option>
                                <option data-tokens="frosting">Thịt lợn</option>
                                <option data-tokens="frosting">Thịt lợn</option>
                                <option data-tokens="frosting">Thịt lợn</option>
                            </select>
                            
                        </div>

                          <div class="layout-modal_item">
                             <span class="modal-item_header">Mô tả thực đơn</span>
                            <div class="input-group">
                                {{!-- <input type="text" class="form-control" placeholder="Nhập mô tả" > --}}
                                 <textarea class="form-control" id="validationTextarea" placeholder="Nhập mô tả cho thực đơn" required></textarea>
                            </div>
                        </div>
                      
                    </div>
                </div>
                <div class="modal-footer mt-3">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Hủy</button>
                    <button type="button" class="btn btn-primary">Hoàn thành</button>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    $(document).ready(function()
    {
        $('#menuModal').on('show.bs.modal', function (event) {
            var button = $(event.relatedTarget)
            var recipient = button.data('whatever') 
        })
        $('#menuModal').on('hide.bs.modal', function (event) {
            var modal = $(this)
            modal.find('.modal-body input').val('');
            $('.custom-select option:selected').prop('selected', false);
        })
        $('#file-input').change(function(e){
            for(var file of e.target.files)
            {
                 var imageURL = URL.createObjectURL(file);
                 $('.img-area').append
                 (
                    `<div class='img-wrapper'>
                        <img src='${imageURL}'/>
                        <span>&times;</span>
                    <div>
                    `
                );
            }
              $('.img-wrapper span').click(function(e){
                    const parentElm = e.target.parentElement;
                    parentElm.remove();
                    if($('.img-area').children('.img-wrapper').length === 0)
                        $('.img-area p').show();
                 })
            $('.img-area p').hide();
        })
        //MULTIPLE SELECT 
        $('#ingredient').on('changed.bs.select', function (e, clickedIndex, isSelected, previousValue) {
            
        });

    })
</script>

