<nav class="navbar navbar-expand-lg navbar-light bg-light p-2">
  {{!-- <form action=""  method="GET" class="d-none d-sm-inline-block  position-absolute form-search">
        <div class="input-group">
            <span class="input-group-text" id="basic-addon1">
                <i class="lni lni-search-alt"></i>
            </span>
            <input type="text" class="form-control" placeholder="Tìm kiếm" aria-label="search" aria-describedby="basic-addon1" name="q">
        </div>
    </form> --}}
  <div class="collapse navbar-collapse" id="navbarSupportedContent">
     <button class="btn mr-auto" id="sidebar-toggle" type="button">
        <i class="lni lni-list"></i>
    </button>
    <div class="d-flex flex-row align-items-center">
        <p>Xin chào <strong style="font-size: 15px;">Admin</strong></p>
        <ul class="navbar-nav ml-2">
                <li class="nav-item dropdown">
                    <a href="#" data-toggle="dropdown" class="nav-icon pe-md-0 " data-mdb-dropdown-init data-mdb-ripple-init aria-expanded="false">
                        <img src="/img/profile.jpg" class="avatar img-fluid rounded" alt="">
                    </a>
                    <div class="dropdown-menu dropdown-menu-end rounded">
                        <a href="#" class="dropdown-item">Profile</a>
                        <a href="#" class="dropdown-item">Setting</a>
                        <a href="#" class="dropdown-item">Logout</a>
                    </div>
                </li>
            </ul>
    </div>
  </div>
</nav>