<aside id="sidebar" class="expand">
  <div class="d-flex">
    <button class="toggle-btn p-2" type="button">
      <img src="/img/logo.png" alt="" />
    </button>
    <div class="sidebar-logo">
      <a href="/">
        HA NOI
        <br />
        Cuisine Corner
      </a>
    </div>
  </div>
  <ul class="sidebar-nav accordion mt-4">
    <li class="sidebar-item">
      <a href="/" class="sidebar-link">
        <i class="lni lni-grid-alt"></i>
        <span>Tổng Quan</span>                                              
      </a>
    </li>
    <li class="sidebar-item">
      <a
        href="#"
        class="sidebar-link collapsed has-dropdown"
        data-toggle="collapse"
        data-target="#menu"
        aria-expanded="false"
        aria-controls="auth"
        
      >
        <i class="lni lni-indent-decrease"></i>
        <span>Thực đơn</span>
      </a>
      <ul
        id="menu"
        class="sidebar-dropdown list-unstyled collapse"
        data-parent="#sidebar"
      >
        <li class="sidebar-item">
          <a href="/menu/food" class="sidebar-link">
            <i class="lni lni-pizza"></i>
            Đồ ăn
          </a>
        </li>
        <li class="sidebar-item">
          <a href="/menu/drink" class="sidebar-link">
            <i class="lni lni-juice"></i>
            Đồ uống
          </a>
        </li>
      </ul>
    </li>
    <li class="sidebar-item">
      <a href="/room-table?area=all&status=all" class="sidebar-link">
        <i class="fa-solid fa-table"></i>
        <span>Phòng/Bàn</span>                                              
      </a>
    </li>
     <li class="sidebar-item">
      <a href="/employee" class="sidebar-link">
        <i class="fa-solid fa-people-group"></i>
        <span>Nhân viên</span>                                              
      </a>
    </li>
    
    <li class="sidebar-item">
      <a
        href="/bin"
        class="sidebar-link collapsed has-dropdown"
        data-toggle="collapse"
        data-target="#bin"
        aria-expanded="false"
        aria-controls="auth"
        
      >
         <i class="fa-solid fa-recycle"></i>
        <span>Thùng rác</span>  
      </a>
      <ul
        id="bin"
        class="sidebar-dropdown list-unstyled collapse"
        data-parent="#sidebar"
      >
        <li class="sidebar-item">
          <a href="/bin/food" class="sidebar-link">
            <i class="lni lni-pizza"></i>
            Đồ ăn đã xóa
          </a>
        </li>
        <li class="sidebar-item">
          <a href="/bin/drink" class="sidebar-link">
            <i class="lni lni-juice"></i>
            Đồ uống đã xóa
          </a>
        </li>
        <li class="sidebar-item">
          <a href="/bin/room-table" class="sidebar-link">
             <i class="fa-solid fa-table"></i>
            Phòng/bàn đã xóa
          </a>
        </li>
      </ul>
    </li>
    
  </ul>
  <div class="sidebar-footer">
    <a href="/logout" class="sidebar-link">
      <i class="lni lni-exit"></i>
      <span>Logout</span>
    </a>
  </div>
</aside>


