<div class="signup-form">	
    <form action="" method="post" id="login-form">
		<h2>Đăng Nhập</h2>
        <div class="form-group">
			<div class="input-group">
				<span class="input-group-addon"><i class="fa fa-user"></i></span>
				<input type="text" class="form-control" name="phone_number" placeholder="Số điện thoại" required="required">
			</div>
        </div>
     
		<div class="form-group">
			<div class="input-group">
				<span class="input-group-addon"><i class="fa fa-lock"></i></span>
				<input type="password" class="form-control" name="password" placeholder="Mật khẩu" required="required">
			</div>
        </div>
		        
		<div class="form-group">
            <button type="submit" class="btn btn-primary btn-block btn-lg">Đăng nhập</button>
        </div>
		<p class="small text-center">By clicking the Sign Up button, you agree to our <br><a href="#">Terms &amp; Conditions</a>, and <a href="#">Privacy Policy</a>.</p>
    </form>
	<div class="text-center">Chưa có tài khoản? <a href="/signup">Đăng ký tại đây</a>.</div>
</div>

<script src="/jquery/jquery.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.js"></script>
<script>
	$(document).ready(function(){
		toastr.options = {
            "closeButton": true,
            "debug": false,
            "newestOnTop": false,
            "progressBar": false,
            "positionClass": "toast-bottom-right",
            "preventDuplicates": true,
            "onclick": null,
            "showDuration": "300",
            "hideDuration": "1000",
            "timeOut": "5000",
            "extendedTimeOut": "1000",
            "showEasing": "swing",
            "hideEasing": "linear",
            "showMethod": "fadeIn",
            "hideMethod": "fadeOut"
            }
		$('#login-form').submit(function(e){
			e.preventDefault();
			var formData = $(this).serialize();
			$.ajax({
                url: '/account/authentication',
                type: 'POST',
				data:formData, 
                success: function(response){
                    if(response.status == 'error')
						toastr.error(response.message, "Đăng nhập thất bại");
					else if(response.status == 'success')
					{
						toastr.success("Đăng nhập thành công");
						setTimeout(()=>window.location.href = "http://localhost:4049", 1000)
					}
                },
                error: function(xhr, status, error){
                    console.error(error);
                }
            })
		})
	})
</script>