<div class="cashier-wrapper" style="">
    <div class="row d-flex justify-content-between">
        <div class="left-content col-6 bg-white rounded  p-4 overflow-y-auto">
            <div class="left-content_header d-flex flex-row align-items-center justify-content-between ">
                <ul class="nav nav-tabs mb-3" id="ex1" role="tablist">
                    {{!-- TAB PHÒNG BÀN --}}
                    <li class="nav-item" role="presentation">
                        <a data-mdb-tab-init class="nav-link active d-flex align-items-center " id="ex1-tab-1" href="#ex1-tabs-1" role="tab"
                        aria-controls="ex1-tabs-1" aria-selected="true">
                            <i class="lni lni-airtable mr-2" style="font-size: 25px;"></i>
                            Phòng bàn
                        </a>
                    </li>
                    {{!-- TAB THỰC ĐƠN --}}
                    <li class="nav-item" role="presentation">
                        <a data-mdb-tab-init class="nav-link d-flex align-items-center " id="ex1-tab-2" href="#ex1-tabs-2" role="tab"
                        aria-controls="ex1-tabs-2" aria-selected="false">
                            <i class="fa-solid fa-plate-wheat mr-2" style="font-size: 25px;"></i>
                            Thực đơn
                        </a>
                    </li>
                </ul>
                
            </div>

            <div class="left-content_main">
                <div class="tab-content" id="">
                    {{!-- TAB PHÒNG BÀN CONTENT--}}
                    <div class="tab-pane fade show active" id="ex1-tabs-1"role="tabpanel"aria-labelledby="ex1-tab-1">
                        {{!-- TAB HEADER --}}
                        <div class="d-flex flex-column align-items-center">
                            <div class="col-sm-12 col-xl-6 d-flex flex-row mb-3">
                                {{!-- SEARCH --}}
                                <div class="col-12 input-group mr-2">
                                    <div class="form-outline" data-mdb-input-init>
                                        <input type="search" id="form1" class="form-control"/>
                                        <label class="form-label" for="form1">Tìm món</label>                           
                                    </div>

                                    <button type="button" class="btn btn-primary" data-mdb-ripple-init>
                                        <i class="fas fa-search"></i>
                                    </button>
                                </div>

                            </div>
                            {{!-- TABS --}}
                            <ul class="col-12  nav nav-tabs" id="table-tab" role="tablist">
                                <li class="nav-item" role="presentation">
                                    <a data-mdb-tab-init class="nav-link active" id="table-tab-1" href="#table-tabs-1" role="tab"
                                    aria-controls="table-tabs-1" aria-selected="true" >Tất cả</a>
                                </li>
                                <li class="nav-item" role="presentation">
                                    <a data-mdb-tab-init class="nav-link" id="table-tab-2" href="#table-tabs-2" role="tab" 
                                    aria-controls="table-tabs-2" aria-selected="false">Tầng 1</a>
                                </li>
                                <li class="nav-item" role="presentation">
                                    <a data-mdb-tab-init class="nav-link" id="table-tab-3" href="#table-tabs-3" role="tab"
                                    aria-controls="table-tabs-3" aria-selected="false">Tầng 2</a>
                                </li>
                                
                            </ul>

                              
                        </div>
                        {{!-- CONTENT CỦA TAB PHÒNG BÀN --}}
                        <div class="tab-content" id="table_tab-content">
                            {{!-- TAB TẤT CẢ CỦA PHÒNG BÀN --}}
                            <div class="tab-pane fade show active" id="table-tabs-1" role="tabpanel" aria-labelledby="table-tab-1">
                                {{!-- FLOOR 1 --}}
                                <div>
                                    <h5  class="font-weight-bold">TẦNG 1</h5>
                                    <ul class="floor1-table_tab1 slider_carousel-6">

                                        <li class="m-1">
                                            <button type="button" class="red-tooltip btn btn-light  d-flex flex-column align-items-center justify-content-center" 
                                            data-mdb-tooltip-init data-mdb-placement="right" data-mdb-html="true" 
                                            title="
                                            <div class='d-flex flex-column align-items-start'>
                                                <div>
                                                    <span class='font-weight-bold'>Tổng tiền:</span> 
                                                    <span>35,000</span>
                                                </div> 
                                                </br>

                                                <div>
                                                    <span class='font-weight-bold'>Số đơn:</span> 
                                                    <span>1 đơn</span>
                                                </div> 
                                                </br>

                                                <div>
                                                    <span class='font-weight-bold'>Số khách</span> 
                                                    <span>4 khách</span>
                                                </div> 
                                                </br>

                                                <div>
                                                    <span class='font-weight-bold'>Tổng thời gian</span> 
                                                    <span>1 giờ</span>
                                                </div> 
                                                </br>

                                            </div>
                                            " 
                                            data-mdb-container="body">
                                                <p class="font-weight-bold mb-2">Bàn số 1</p>
                                                <img src="/img/table-icon.svg" alt="" >
                                                <span class="mt-2 mb-2">Bàn 4 người</span>
                                                <p style="font-size:10px !important;" class="text-dark opacity-50"
                                                data-mdb-ripple-init data-mdb-modal-init data-mdb-target="#exampleModal">
                                                    Nhập ghi chú ...
                                                </p>
                                            </button>
                                            
                                        </li>
                                        <li class="m-1">
                                            <button type="button" class="btn btn-primary d-flex flex-column align-items-center">
                                                <p class="font-weight-bold mb-2">Bàn số 2</p>
                                                <img src="/img/table-icon-select.svg" alt="">
                                                <span class="mt-2 mb-2">Bàn 6 người</span>
                                                <p style="font-size:10px !important;" class="text-light opacity-50">Nhập ghi chú ...</p>
                                            </button>
                                        </li>
                                        <li class="m-1">
                                            <button type="button" class="btn btn-secondary d-flex flex-column align-items-center justify-content-center" 
                                            >
                                                <p class="font-weight-bold mb-2">Bàn số 1</p>
                                                <img src="/img/table-icon-active.svg" alt="" >
                                                <span class="mt-2 mb-2">Bàn 4 người</span>
                                                <p style="font-size:10px !important;" class="text-dark opacity-50">Nhập ghi chú ...</p>
                                            </button>
                                            
                                        </li>
                                        <li class="m-1">
                                            <button type="button" class="btn btn-secondary d-flex flex-column align-items-center justify-content-center" 
                                            >
                                                <p class="font-weight-bold mb-2">Bàn số 1</p>
                                                <img src="/img/table-icon-active.svg" alt="" >
                                                <span class="mt-2 mb-2">Bàn 4 người</span>
                                                <p style="font-size:10px !important;" class="text-dark opacity-50">Nhập ghi chú ...</p>
                                            </button>
                                            
                                        </li>
                                        <li class="m-1">
                                            <button type="button" class="btn btn-secondary d-flex flex-column align-items-center justify-content-center" 
                                            >
                                                <p class="font-weight-bold mb-2">Bàn số 1</p>
                                                <img src="/img/table-icon-active.svg" alt="" >
                                                <span class="mt-2 mb-2">Bàn 4 người</span>
                                                <p style="font-size:10px !important;" class="text-dark opacity-50">Nhập ghi chú ...</p>
                                            </button>
                                            
                                        </li>
                                        <li class="m-1">
                                            <button type="button" class="btn btn-secondary d-flex flex-column align-items-center justify-content-center" 
                                            >
                                                <p class="font-weight-bold mb-2">Bàn số 1</p>
                                                <img src="/img/table-icon-active.svg" alt="" >
                                                <span class="mt-2 mb-2">Bàn 4 người</span>
                                                <p style="font-size:10px !important;" class="text-dark opacity-50">Nhập ghi chú ...</p>
                                            </button>
                                            
                                        </li>
                                    </ul>
                                </div>
                                {{!-- FLOOR 2 --}}
                                <div>
                                    <h5 class="font-weight-bold">TẦNG 2</h5>
                                    <ul class="floor2-table_tab2 slider_carousel-6">
                                        <li class="m-1">
                                            <button type="button" class="btn btn-secondary d-flex flex-column align-items-center justify-content-center" 
                                            >
                                                <p class="font-weight-bold mb-2">Bàn số 1</p>
                                                <img src="/img/table-icon-active.svg" alt="" >
                                                <span class="mt-2 mb-2">Bàn 4 người</span>
                                                <p style="font-size:10px !important;" class="text-dark opacity-50">Nhập ghi chú ...</p>
                                            </button>
                                            
                                        </li>
                                        <li class="m-1">
                                            <button type="button" class="btn btn-primary d-flex flex-column align-items-center">
                                                <p class="font-weight-bold mb-2">Bàn số 2</p>
                                                <img src="/img/table-icon-select.svg" alt="">
                                                <span class="mt-2 mb-2">Bàn 6 người</span>
                                                <p style="font-size:10px !important;" class="text-light opacity-50">Nhập ghi chú ...</p>
                                            </button>
                                        </li>
                                      
                                    </ul>
                                </div>
                            </div>
                            {{!-- TAB TẦNG 1 CỦA PHÒNG BÀN --}}
                            <div class="tab-pane fade active" id="table-tabs-2" role="tabpanel" aria-labelledby="table-tab-2">
                                Tab 2 content
                            </div>
                            {{!-- TAB TẦNG 2 CỦA PHÒNG BÀN --}}
                            <div class="tab-pane fade active" id="table-tabs-3" role="tabpanel" aria-labelledby="table-tab-3">
                                Tab 3 content
                            </div>
                        </div>

                    </div>
                    {{!-- TAB THỰC ĐƠN CONTENT--}}
                    <div class="tab-pane fade active" id="ex1-tabs-2" role="tabpanel" aria-labelledby="ex1-tab-2">
                        {{!-- tab header --}}
                        <div class="d-flex flex-column align-items-center">
                            <div class="col-sm-12 col-xl-6  d-flex flex-row  mb-3">
                                {{!-- SEARCH --}}
                                <div class="col-11 input-group mr-2">
                                    <div class="form-outline" data-mdb-input-init>
                                        <input type="search" id="form1" class="form-control"/>
                                        <label class="form-label" for="form1">Tìm món</label>
                                    </div>

                                    <button type="button" class="btn btn-primary" data-mdb-ripple-init>
                                        <i class="fas fa-search"></i>
                                    </button>
                                </div>

                                <button type="button" class="btn btn-primary btn-floating col-5"
                                data-mdb-ripple-init data-mdb-modal-init data-mdb-target="#menuModal">
                                    <i class="lni lni-plus"></i>
                                </button>
                            </div>
                            {{!-- TAB --}}
                            <ul class="col-12 nav nav-tabs" id="menu-tab" role="tablist">
                                <li class="nav-item" role="presentation">
                                    <a data-mdb-tab-init class="nav-link active" id="menu-tab-1" href="#menu-tabs-1" role="tab" 
                                    aria-controls="menu-tabs-1" aria-selected="true" >Tất cả</a>
                                </li>
                                <li class="nav-item" role="presentation">
                                    <a data-mdb-tab-init class="nav-link" id="menu-tab-2" href="#menu-tabs-2"
                                    role="tab" aria-controls="menu-tabs-2" aria-selected="false" >
                                        Đồ ăn
                                    </a>
                                </li>
                                <li class="nav-item" role="presentation">
                                    <a data-mdb-tab-init class="nav-link" id="menu-tab-3" href="#menu-tabs-3"
                                    role="tab" aria-controls="menu-tabs-3" aria-selected="false" >
                                        Đồ uống
                                    </a>
                                </li>
                            </ul>

                        </div>
                        {{!-- CONTENT CỦA TAB THỰC ĐƠN --}}
                        <div class="tab-content w-100 h-100" id="menu_tab-content">
                            {{!-- Tab tất cả của thực đơn --}}
                            <div class="tab-pane fade active show"  id="menu-tabs-1" role="tabpanel"aria-labelledby="menu-tab-1" >
                                {{!-- DANH MỤC ĐỒ ĂN CỦA TAB TẤT CẢ TRONG THỰC ĐƠN --}}
                                <div>
                                    <h5 style="font-size: 14px;" class="font-weight-bold">
                                        ĐỒ ĂN
                                    </h5>
                                    <ul class="food_carousel-tab1 slider_carousel-5">
                                        <li  class="p-2">
                                            <div style="border:1px solid #cfe2f5; border-radius:0.25rem;">
                                                <div style="background-color:#e6f0fa;" 
                                                class="d-flex justify-content-center align-items-center flex-column position-relative p-5">
                                                    <img src="/img/plate-and-utensils.svg" alt="" style="font-size: 10px;" class="opacity-50">
                                                    <span class="rounded-pill bg-white p-1 position-absolute font-weight-bold" 
                                                    style="font-size: 12px;color:#0066cc;bottom:5px;">35,000</span>
                                                </div>
                                                <div style="height:62px;" class="product-info d-flex align-items-center justify-content-center">
                                                    <p class="product-name font-weight-bold" style="font-size: 12px;">BÚN ĐẬU MẮM TÔM</p>
                                                </div>
                                            </div>
                                        </li>

                                        <li  class="p-2">
                                            <div style="border:1px solid #cfe2f5; border-radius:0.25rem;">
                                                <div style="background-color:#e6f0fa;" 
                                                class="d-flex justify-content-center align-items-center flex-column position-relative p-5">
                                                    <img src="/img/plate-and-utensils.svg" alt="" style="font-size: 10px;" class="opacity-50">
                                                    <span class="rounded-pill bg-white p-1 position-absolute font-weight-bold" 
                                                    style="font-size: 12px;color:#0066cc;bottom:5px;">35,000</span>
                                                </div>
                                                <div style="height:62px;" class="product-info d-flex align-items-center justify-content-center">
                                                    <p class="product-name font-weight-bold" style="font-size: 12px;">BÚN ĐẬU MẮM TÔM</p>
                                                </div>
                                            </div>
                                        </li>

                                        <li  class="p-2">
                                            <div style="border:1px solid #cfe2f5; border-radius:0.25rem;">
                                                <div style="background-color:#e6f0fa;" 
                                                class="d-flex justify-content-center align-items-center flex-column position-relative p-5">
                                                    <img src="/img/plate-and-utensils.svg" alt="" style="font-size: 10px;" class="opacity-50">
                                                    <span class="rounded-pill bg-white p-1 position-absolute font-weight-bold" 
                                                    style="font-size: 12px;color:#0066cc;bottom:5px;">35,000</span>
                                                </div>
                                                <div style="height:62px;" class="product-info d-flex align-items-center justify-content-center">
                                                    <p class="product-name font-weight-bold" style="font-size: 12px;">BÚN ĐẬU MẮM TÔM</p>
                                                </div>
                                            </div>
                                        </li>
                                        <li  class="p-2">
                                            <div style="border:1px solid #cfe2f5; border-radius:0.25rem;">
                                                <div style="background-color:#e6f0fa;" 
                                                class="d-flex justify-content-center align-items-center flex-column position-relative p-5">
                                                    <img src="/img/plate-and-utensils.svg" alt="" style="font-size: 10px;" class="opacity-50">
                                                    <span class="rounded-pill bg-white p-1 position-absolute font-weight-bold" 
                                                    style="font-size: 12px;color:#0066cc;bottom:5px;">35,000</span>
                                                </div>
                                                <div style="height:62px;" class="product-info d-flex align-items-center justify-content-center">
                                                    <p class="product-name font-weight-bold" style="font-size: 12px;">BÚN ĐẬU MẮM TÔM</p>
                                                </div>
                                            </div>
                                        </li>
                                        <li  class="p-2">
                                            <div style="border:1px solid #cfe2f5; border-radius:0.25rem;">
                                                <div style="background-color:#e6f0fa;" 
                                                class="d-flex justify-content-center align-items-center flex-column position-relative p-5">
                                                    <img src="/img/plate-and-utensils.svg" alt="" style="font-size: 10px;" class="opacity-50">
                                                    <span class="rounded-pill bg-white p-1 position-absolute font-weight-bold" 
                                                    style="font-size: 12px;color:#0066cc;bottom:5px;">35,000</span>
                                                </div>
                                                <div style="height:62px;" class="product-info d-flex align-items-center justify-content-center">
                                                    <p class="product-name font-weight-bold" style="font-size: 12px;">BÚN ĐẬU MẮM TÔM</p>
                                                </div>
                                            </div>
                                        </li>
                                        <li  class="p-2">
                                            <div style="border:1px solid #cfe2f5; border-radius:0.25rem;">
                                                <div style="background-color:#e6f0fa;" 
                                                class="d-flex justify-content-center align-items-center flex-column position-relative p-5">
                                                    <img src="/img/plate-and-utensils.svg" alt="" style="font-size: 10px;" class="opacity-50">
                                                    <span class="rounded-pill bg-white p-1 position-absolute font-weight-bold" 
                                                    style="font-size: 12px;color:#0066cc;bottom:5px;">35,000</span>
                                                </div>
                                                <div style="height:62px;" class="product-info d-flex align-items-center justify-content-center">
                                                    <p class="product-name font-weight-bold" style="font-size: 12px;">BÚN ĐẬU MẮM TÔM</p>
                                                </div>
                                            </div>
                                        </li>
                                    </ul>
                                </div>
                                {{!-- DANH MỤC ĐỒ UỐNG CỦA TAB TẤT CẢ TRONG THỰC ĐƠN --}}
                                <div>
                                    <h5 style="font-size: 14px;" class="font-weight-bold">
                                        ĐỒ UỐNG
                                    </h5>
                                    <ul class="drink_carousel-tab1 slider_carousel-5">
                                        <li  class="p-2">
                                            <div style="border:1px solid #cfe2f5; border-radius:0.25rem;">
                                                <div style="background-color:#e6f0fa;" 
                                                class="d-flex justify-content-center align-items-center flex-column position-relative p-5">
                                                    <img src="/img/champagne.svg" alt="" style="font-size: 10px;" class="opacity-50">
                                                    <span class="rounded-pill bg-white p-1 position-absolute font-weight-bold" 
                                                    style="font-size: 12px;color:#0066cc;bottom:5px;">35,000</span>
                                                </div>
                                                <div style="height:62px;" class="product-info d-flex align-items-center justify-content-center">
                                                    <p class="product-name font-weight-bold" style="font-size: 12px;">RƯỢU VANG</p>
                                                </div>
                                            </div>
                                        </li>

                                        <li  class="p-2">
                                            <div style="border:1px solid #cfe2f5; border-radius:0.25rem;">
                                                <div style="background-color:#e6f0fa;" 
                                                class="d-flex justify-content-center align-items-center flex-column position-relative p-5">
                                                    <img src="/img/champagne.svg" alt="" style="font-size: 10px;" class="opacity-50">
                                                    <span class="rounded-pill bg-white p-1 position-absolute font-weight-bold" 
                                                    style="font-size: 12px;color:#0066cc;bottom:5px;">35,000</span>
                                                </div>
                                                <div style="height:62px;" class="product-info d-flex align-items-center justify-content-center">
                                                    <p class="product-name font-weight-bold" style="font-size: 12px;">RƯỢU NHO</p>
                                                </div>
                                            </div>
                                        </li>

                                        <li  class="p-2">
                                            <div style="border:1px solid #cfe2f5; border-radius:0.25rem;">
                                                <div style="background-color:#e6f0fa;" 
                                                class="d-flex justify-content-center align-items-center flex-column position-relative p-5">
                                                    <img src="/img/cocktail.svg" alt="" style="font-size: 10px;" class="opacity-50">
                                                    <span class="rounded-pill bg-white p-1 position-absolute font-weight-bold" 
                                                    style="font-size: 12px;color:#0066cc;bottom:5px;">35,000</span>
                                                </div>
                                                <div style="height:62px;" class="product-info d-flex align-items-center justify-content-center">
                                                    <p class="product-name font-weight-bold" style="font-size: 12px;">CoCa Cola</p>
                                                </div>
                                            </div>
                                        </li>

                                        <li  class="p-2">
                                            <div style="border:1px solid #cfe2f5; border-radius:0.25rem;">
                                                <div style="background-color:#e6f0fa;" 
                                                class="d-flex justify-content-center align-items-center flex-column position-relative p-5">
                                                    <img src="/img/cocktail.svg" alt="" style="font-size: 10px;" class="opacity-50">
                                                    <span class="rounded-pill bg-white p-1 position-absolute font-weight-bold" 
                                                    style="font-size: 12px;color:#0066cc;bottom:5px;">35,000</span>
                                                </div>
                                                <div style="height:62px;" class="product-info d-flex align-items-center justify-content-center">
                                                    <p class="product-name font-weight-bold" style="font-size: 12px;">CoCa Cola</p>
                                                </div>
                                            </div>
                                        </li>

                                        <li  class="p-2">
                                            <div style="border:1px solid #cfe2f5; border-radius:0.25rem;">
                                                <div style="background-color:#e6f0fa;" 
                                                class="d-flex justify-content-center align-items-center flex-column position-relative p-5">
                                                    <img src="/img/cocktail.svg" alt="" style="font-size: 10px;" class="opacity-50">
                                                    <span class="rounded-pill bg-white p-1 position-absolute font-weight-bold" 
                                                    style="font-size: 12px;color:#0066cc;bottom:5px;">35,000</span>
                                                </div>
                                                <div style="height:62px;" class="product-info d-flex align-items-center justify-content-center">
                                                    <p class="product-name font-weight-bold" style="font-size: 12px;">CoCa Cola</p>
                                                </div>
                                            </div>
                                        </li>
                                    </ul>
                                </div>

                            </div>
                            {{!-- Tab đồ ăn của thực đơn --}}
                            <div class="tab-pane fade " id="menu-tabs-2" role="tabpanel" aria-labelledby="menu-tab-2">
                                {{!-- TAB MÓN CHÍNH CỦA ĐỒ ĂN --}}
                                <div>
                                    <h5 style="font-size: 14px;" class="font-weight-bold">
                                        MÓN CHÍNH
                                    </h5>

                                    <ul class="main_food-tab2 slider_carousel-5">
                                        <li  class="p-2">
                                            <div style="border:1px solid #cfe2f5; border-radius:0.25rem;">
                                                <div style="background-color:#e6f0fa;" 
                                                class="d-flex justify-content-center align-items-center flex-column position-relative p-5">
                                                    <img src="/img/plate-and-utensils.svg" alt="" style="font-size: 10px;" class="opacity-50">
                                                    <span class="rounded-pill bg-white p-1 position-absolute font-weight-bold" 
                                                    style="font-size: 12px;color:#0066cc;bottom:5px;">35,000</span>
                                                </div>
                                                <div style="height:62px;" class="product-info d-flex align-items-center justify-content-center">
                                                    <p class="product-name font-weight-bold" style="font-size: 12px;">BÚN ĐẬU MẮM TÔM</p>
                                                </div>
                                            </div>
                                        </li>

                                        <li  class="p-2">
                                            <div style="border:1px solid #cfe2f5; border-radius:0.25rem;">
                                                <div style="background-color:#e6f0fa;" 
                                                class="d-flex justify-content-center align-items-center flex-column position-relative p-5">
                                                    <img src="/img/plate-and-utensils.svg" alt="" style="font-size: 10px;" class="opacity-50">
                                                    <span class="rounded-pill bg-white p-1 position-absolute font-weight-bold" 
                                                    style="font-size: 12px;color:#0066cc;bottom:5px;">35,000</span>
                                                </div>
                                                <div style="height:62px;" class="product-info d-flex align-items-center justify-content-center">
                                                    <p class="product-name font-weight-bold" style="font-size: 12px;">BÚN ĐẬU MẮM TÔM</p>
                                                </div>
                                            </div>
                                        </li>

                                        <li  class="p-2">
                                            <div style="border:1px solid #cfe2f5; border-radius:0.25rem;">
                                                <div style="background-color:#e6f0fa;" 
                                                class="d-flex justify-content-center align-items-center flex-column position-relative p-5">
                                                    <img src="/img/plate-and-utensils.svg" alt="" style="font-size: 10px;" class="opacity-50">
                                                    <span class="rounded-pill bg-white p-1 position-absolute font-weight-bold" 
                                                    style="font-size: 12px;color:#0066cc;bottom:5px;">35,000</span>
                                                </div>
                                                <div style="height:62px;" class="product-info d-flex align-items-center justify-content-center">
                                                    <p class="product-name font-weight-bold" style="font-size: 12px;">BÚN ĐẬU MẮM TÔM</p>
                                                </div>
                                            </div>
                                        </li>

                                        <li  class="p-2">
                                            <div style="border:1px solid #cfe2f5; border-radius:0.25rem;">
                                                <div style="background-color:#e6f0fa;" 
                                                class="d-flex justify-content-center align-items-center flex-column position-relative p-5">
                                                    <img src="/img/plate-and-utensils.svg" alt="" style="font-size: 10px;" class="opacity-50">
                                                    <span class="rounded-pill bg-white p-1 position-absolute font-weight-bold" 
                                                    style="font-size: 12px;color:#0066cc;bottom:5px;">35,000</span>
                                                </div>
                                                <div style="height:62px;" class="product-info d-flex align-items-center justify-content-center">
                                                    <p class="product-name font-weight-bold" style="font-size: 12px;">BÚN ĐẬU MẮM TÔM</p>
                                                </div>
                                            </div>
                                        </li>

                                        <li  class="p-2">
                                            <div style="border:1px solid #cfe2f5; border-radius:0.25rem;">
                                                <div style="background-color:#e6f0fa;" 
                                                class="d-flex justify-content-center align-items-center flex-column position-relative p-5">
                                                    <img src="/img/plate-and-utensils.svg" alt="" style="font-size: 10px;" class="opacity-50">
                                                    <span class="rounded-pill bg-white p-1 position-absolute font-weight-bold" 
                                                    style="font-size: 12px;color:#0066cc;bottom:5px;">35,000</span>
                                                </div>
                                                <div style="height:62px;" class="product-info d-flex align-items-center justify-content-center">
                                                    <p class="product-name font-weight-bold" style="font-size: 12px;">BÚN ĐẬU MẮM TÔM</p>
                                                </div>
                                            </div>
                                        </li>
                                        <li  class="p-2">
                                            <div style="border:1px solid #cfe2f5; border-radius:0.25rem;">
                                                <div style="background-color:#e6f0fa;" 
                                                class="d-flex justify-content-center align-items-center flex-column position-relative p-5">
                                                    <img src="/img/plate-and-utensils.svg" alt="" style="font-size: 10px;" class="opacity-50">
                                                    <span class="rounded-pill bg-white p-1 position-absolute font-weight-bold" 
                                                    style="font-size: 12px;color:#0066cc;bottom:5px;">35,000</span>
                                                </div>
                                                <div style="height:62px;" class="product-info d-flex align-items-center justify-content-center">
                                                    <p class="product-name font-weight-bold" style="font-size: 12px;">BÚN ĐẬU MẮM TÔM</p>
                                                </div>
                                            </div>
                                        </li>
                                    </ul>
                                </div>
                                {{!-- TAB MÓN PHỤ CỦA ĐỒ ĂN --}}
                                <div>
                                    <h5 style="font-size: 14px;" class="font-weight-bold">
                                        MÓN PHỤ
                                    </h5>
                                    <ul class="second_food-tab2 slider_carousel-5">
                                        <li  class="p-2">
                                            <div style="border:1px solid #cfe2f5; border-radius:0.25rem;">
                                                <div style="background-color:#e6f0fa;" 
                                                class="d-flex justify-content-center align-items-center flex-column position-relative p-5">
                                                    <img src="/img/plate-and-utensils.svg" alt="" style="font-size: 10px;" class="opacity-50">
                                                    <span class="rounded-pill bg-white p-1 position-absolute font-weight-bold" 
                                                    style="font-size: 12px;color:#0066cc;bottom:5px;">35,000</span>
                                                </div>
                                                <div style="height:62px;" class="product-info d-flex align-items-center justify-content-center">
                                                    <p class="product-name font-weight-bold" style="font-size: 12px;">BÚN ĐẬU MẮM TÔM</p>
                                                </div>
                                            </div>
                                        </li>

                                        <li  class="p-2">
                                            <div style="border:1px solid #cfe2f5; border-radius:0.25rem;">
                                                <div style="background-color:#e6f0fa;" 
                                                class="d-flex justify-content-center align-items-center flex-column position-relative p-5">
                                                    <img src="/img/plate-and-utensils.svg" alt="" style="font-size: 10px;" class="opacity-50">
                                                    <span class="rounded-pill bg-white p-1 position-absolute font-weight-bold" 
                                                    style="font-size: 12px;color:#0066cc;bottom:5px;">35,000</span>
                                                </div>
                                                <div style="height:62px;" class="product-info d-flex align-items-center justify-content-center">
                                                    <p class="product-name font-weight-bold" style="font-size: 12px;">BÚN ĐẬU MẮM TÔM</p>
                                                </div>
                                            </div>
                                        </li>

                                        <li  class="p-2">
                                            <div style="border:1px solid #cfe2f5; border-radius:0.25rem;">
                                                <div style="background-color:#e6f0fa;" 
                                                class="d-flex justify-content-center align-items-center flex-column position-relative p-5">
                                                    <img src="/img/plate-and-utensils.svg" alt="" style="font-size: 10px;" class="opacity-50">
                                                    <span class="rounded-pill bg-white p-1 position-absolute font-weight-bold" 
                                                    style="font-size: 12px;color:#0066cc;bottom:5px;">35,000</span>
                                                </div>
                                                <div style="height:62px;" class="product-info d-flex align-items-center justify-content-center">
                                                    <p class="product-name font-weight-bold" style="font-size: 12px;">BÚN ĐẬU MẮM TÔM</p>
                                                </div>
                                            </div>
                                        </li>
                                        <li  class="p-2">
                                            <div style="border:1px solid #cfe2f5; border-radius:0.25rem;">
                                                <div style="background-color:#e6f0fa;" 
                                                class="d-flex justify-content-center align-items-center flex-column position-relative p-5">
                                                    <img src="/img/plate-and-utensils.svg" alt="" style="font-size: 10px;" class="opacity-50">
                                                    <span class="rounded-pill bg-white p-1 position-absolute font-weight-bold" 
                                                    style="font-size: 12px;color:#0066cc;bottom:5px;">35,000</span>
                                                </div>
                                                <div style="height:62px;" class="product-info d-flex align-items-center justify-content-center">
                                                    <p class="product-name font-weight-bold" style="font-size: 12px;">BÚN ĐẬU MẮM TÔM</p>
                                                </div>
                                            </div>
                                        </li>
                                    </ul>
                                </div>
                                {{!-- TAB MÓN TRÁNG MIỆNG CỦA ĐỒ ĂN --}}
                                <div>
                                    <h5 style="font-size: 14px;" class="font-weight-bold">
                                        MÓN TRÁNG MIỆNG
                                    </h5>
                                    <ul class="desert-tab3 slider_carousel-5">
                                        <li  class="p-2">
                                            <div style="border:1px solid #cfe2f5; border-radius:0.25rem;">
                                                <div style="background-color:#e6f0fa;" 
                                                class="d-flex justify-content-center align-items-center flex-column position-relative p-5">
                                                    <img src="/img/plate-and-utensils.svg" alt="" style="font-size: 10px;" class="opacity-50">
                                                    <span class="rounded-pill bg-white p-1 position-absolute font-weight-bold" 
                                                    style="font-size: 12px;color:#0066cc;bottom:5px;">35,000</span>
                                                </div>
                                                <div style="height:62px;" class="product-info d-flex align-items-center justify-content-center">
                                                    <p class="product-name font-weight-bold" style="font-size: 12px;">BÚN ĐẬU MẮM TÔM</p>
                                                </div>
                                            </div>
                                        </li>

                                        <li  class="p-2">
                                            <div style="border:1px solid #cfe2f5; border-radius:0.25rem;">
                                                <div style="background-color:#e6f0fa;" 
                                                class="d-flex justify-content-center align-items-center flex-column position-relative p-5">
                                                    <img src="/img/plate-and-utensils.svg" alt="" style="font-size: 10px;" class="opacity-50">
                                                    <span class="rounded-pill bg-white p-1 position-absolute font-weight-bold" 
                                                    style="font-size: 12px;color:#0066cc;bottom:5px;">35,000</span>
                                                </div>
                                                <div style="height:62px;" class="product-info d-flex align-items-center justify-content-center">
                                                    <p class="product-name font-weight-bold" style="font-size: 12px;">BÚN ĐẬU MẮM TÔM</p>
                                                </div>
                                            </div>
                                        </li>

                                        <li  class="p-2">
                                            <div style="border:1px solid #cfe2f5; border-radius:0.25rem;">
                                                <div style="background-color:#e6f0fa;" 
                                                class="d-flex justify-content-center align-items-center flex-column position-relative p-5">
                                                    <img src="/img/plate-and-utensils.svg" alt="" style="font-size: 10px;" class="opacity-50">
                                                    <span class="rounded-pill bg-white p-1 position-absolute font-weight-bold" 
                                                    style="font-size: 12px;color:#0066cc;bottom:5px;">35,000</span>
                                                </div>
                                                <div style="height:62px;" class="product-info d-flex align-items-center justify-content-center">
                                                    <p class="product-name font-weight-bold" style="font-size: 12px;">BÚN ĐẬU MẮM TÔM</p>
                                                </div>
                                            </div>
                                        </li>
                                    </ul>
                                </div>

                                
                            </div>
                            {{!-- Tab đồ uống của thực đơn --}}
                            <div class="tab-pane fade " id="menu-tabs-3" role="tabpanel" aria-labelledby="menu-tab-3">
                                <div>
                                    <h5 style="font-size: 14px;" class="font-weight-bold">
                                        MÓN CHÍNH
                                    </h5>

                                    <ul class="main_food-tab2 slider_carousel-5">
                                        <li  class="p-2">
                                            <div style="border:1px solid #cfe2f5; border-radius:0.25rem;">
                                                <div style="background-color:#e6f0fa;" 
                                                class="d-flex justify-content-center align-items-center flex-column position-relative p-5">
                                                    <img src="/img/plate-and-utensils.svg" alt="" style="font-size: 10px;" class="opacity-50">
                                                    <span class="rounded-pill bg-white p-1 position-absolute font-weight-bold" 
                                                    style="font-size: 12px;color:#0066cc;bottom:5px;">35,000</span>
                                                </div>
                                                <div style="height:62px;" class="product-info d-flex align-items-center justify-content-center">
                                                    <p class="product-name font-weight-bold" style="font-size: 12px;">BÚN ĐẬU MẮM TÔM</p>
                                                </div>
                                            </div>
                                        </li>

                                        <li  class="p-2">
                                            <div style="border:1px solid #cfe2f5; border-radius:0.25rem;">
                                                <div style="background-color:#e6f0fa;" 
                                                class="d-flex justify-content-center align-items-center flex-column position-relative p-5">
                                                    <img src="/img/plate-and-utensils.svg" alt="" style="font-size: 10px;" class="opacity-50">
                                                    <span class="rounded-pill bg-white p-1 position-absolute font-weight-bold" 
                                                    style="font-size: 12px;color:#0066cc;bottom:5px;">35,000</span>
                                                </div>
                                                <div style="height:62px;" class="product-info d-flex align-items-center justify-content-center">
                                                    <p class="product-name font-weight-bold" style="font-size: 12px;">BÚN ĐẬU MẮM TÔM</p>
                                                </div>
                                            </div>
                                        </li>

                                        <li  class="p-2">
                                            <div style="border:1px solid #cfe2f5; border-radius:0.25rem;">
                                                <div style="background-color:#e6f0fa;" 
                                                class="d-flex justify-content-center align-items-center flex-column position-relative p-5">
                                                    <img src="/img/plate-and-utensils.svg" alt="" style="font-size: 10px;" class="opacity-50">
                                                    <span class="rounded-pill bg-white p-1 position-absolute font-weight-bold" 
                                                    style="font-size: 12px;color:#0066cc;bottom:5px;">35,000</span>
                                                </div>
                                                <div style="height:62px;" class="product-info d-flex align-items-center justify-content-center">
                                                    <p class="product-name font-weight-bold" style="font-size: 12px;">BÚN ĐẬU MẮM TÔM</p>
                                                </div>
                                            </div>
                                        </li>

                                        <li  class="p-2">
                                            <div style="border:1px solid #cfe2f5; border-radius:0.25rem;">
                                                <div style="background-color:#e6f0fa;" 
                                                class="d-flex justify-content-center align-items-center flex-column position-relative p-5">
                                                    <img src="/img/plate-and-utensils.svg" alt="" style="font-size: 10px;" class="opacity-50">
                                                    <span class="rounded-pill bg-white p-1 position-absolute font-weight-bold" 
                                                    style="font-size: 12px;color:#0066cc;bottom:5px;">35,000</span>
                                                </div>
                                                <div style="height:62px;" class="product-info d-flex align-items-center justify-content-center">
                                                    <p class="product-name font-weight-bold" style="font-size: 12px;">BÚN ĐẬU MẮM TÔM</p>
                                                </div>
                                            </div>
                                        </li>

                                        <li  class="p-2">
                                            <div style="border:1px solid #cfe2f5; border-radius:0.25rem;">
                                                <div style="background-color:#e6f0fa;" 
                                                class="d-flex justify-content-center align-items-center flex-column position-relative p-5">
                                                    <img src="/img/plate-and-utensils.svg" alt="" style="font-size: 10px;" class="opacity-50">
                                                    <span class="rounded-pill bg-white p-1 position-absolute font-weight-bold" 
                                                    style="font-size: 12px;color:#0066cc;bottom:5px;">35,000</span>
                                                </div>
                                                <div style="height:62px;" class="product-info d-flex align-items-center justify-content-center">
                                                    <p class="product-name font-weight-bold" style="font-size: 12px;">BÚN ĐẬU MẮM TÔM</p>
                                                </div>
                                            </div>
                                        </li>
                                    </ul>
                                </div>

                                <div>
                                    <h5 style="font-size: 14px;" class="font-weight-bold">
                                        MÓN PHỤ
                                    </h5>
                                    <ul class="second_food-tab2 slider_carousel-5">
                                        <li  class="p-2">
                                            <div style="border:1px solid #cfe2f5; border-radius:0.25rem;">
                                                <div style="background-color:#e6f0fa;" 
                                                class="d-flex justify-content-center align-items-center flex-column position-relative p-5">
                                                    <img src="/img/plate-and-utensils.svg" alt="" style="font-size: 10px;" class="opacity-50">
                                                    <span class="rounded-pill bg-white p-1 position-absolute font-weight-bold" 
                                                    style="font-size: 12px;color:#0066cc;bottom:5px;">35,000</span>
                                                </div>
                                                <div style="height:62px;" class="product-info d-flex align-items-center justify-content-center">
                                                    <p class="product-name font-weight-bold" style="font-size: 12px;">BÚN ĐẬU MẮM TÔM</p>
                                                </div>
                                            </div>
                                        </li>

                                        <li  class="p-2">
                                            <div style="border:1px solid #cfe2f5; border-radius:0.25rem;">
                                                <div style="background-color:#e6f0fa;" 
                                                class="d-flex justify-content-center align-items-center flex-column position-relative p-5">
                                                    <img src="/img/plate-and-utensils.svg" alt="" style="font-size: 10px;" class="opacity-50">
                                                    <span class="rounded-pill bg-white p-1 position-absolute font-weight-bold" 
                                                    style="font-size: 12px;color:#0066cc;bottom:5px;">35,000</span>
                                                </div>
                                                <div style="height:62px;" class="product-info d-flex align-items-center justify-content-center">
                                                    <p class="product-name font-weight-bold" style="font-size: 12px;">BÚN ĐẬU MẮM TÔM</p>
                                                </div>
                                            </div>
                                        </li>

                                        <li  class="p-2">
                                            <div style="border:1px solid #cfe2f5; border-radius:0.25rem;">
                                                <div style="background-color:#e6f0fa;" 
                                                class="d-flex justify-content-center align-items-center flex-column position-relative p-5">
                                                    <img src="/img/plate-and-utensils.svg" alt="" style="font-size: 10px;" class="opacity-50">
                                                    <span class="rounded-pill bg-white p-1 position-absolute font-weight-bold" 
                                                    style="font-size: 12px;color:#0066cc;bottom:5px;">35,000</span>
                                                </div>
                                                <div style="height:62px;" class="product-info d-flex align-items-center justify-content-center">
                                                    <p class="product-name font-weight-bold" style="font-size: 12px;">BÚN ĐẬU MẮM TÔM</p>
                                                </div>
                                            </div>
                                        </li>
                                        <li  class="p-2">
                                            <div style="border:1px solid #cfe2f5; border-radius:0.25rem;">
                                                <div style="background-color:#e6f0fa;" 
                                                class="d-flex justify-content-center align-items-center flex-column position-relative p-5">
                                                    <img src="/img/plate-and-utensils.svg" alt="" style="font-size: 10px;" class="opacity-50">
                                                    <span class="rounded-pill bg-white p-1 position-absolute font-weight-bold" 
                                                    style="font-size: 12px;color:#0066cc;bottom:5px;">35,000</span>
                                                </div>
                                                <div style="height:62px;" class="product-info d-flex align-items-center justify-content-center">
                                                    <p class="product-name font-weight-bold" style="font-size: 12px;">BÚN ĐẬU MẮM TÔM</p>
                                                </div>
                                            </div>
                                        </li>
                                    </ul>
                                </div>

                                <div>
                                    <h5 style="font-size: 14px;" class="font-weight-bold">
                                        MÓN TRÁNG MIỆNG
                                    </h5>
                                    <ul class="desert-tab3 slider_carousel-5">
                                        <li  class="p-2">
                                            <div style="border:1px solid #cfe2f5; border-radius:0.25rem;">
                                                <div style="background-color:#e6f0fa;" 
                                                class="d-flex justify-content-center align-items-center flex-column position-relative p-5">
                                                    <img src="/img/plate-and-utensils.svg" alt="" style="font-size: 10px;" class="opacity-50">
                                                    <span class="rounded-pill bg-white p-1 position-absolute font-weight-bold" 
                                                    style="font-size: 12px;color:#0066cc;bottom:5px;">35,000</span>
                                                </div>
                                                <div style="height:62px;" class="product-info d-flex align-items-center justify-content-center">
                                                    <p class="product-name font-weight-bold" style="font-size: 12px;">BÚN ĐẬU MẮM TÔM</p>
                                                </div>
                                            </div>
                                        </li>

                                        <li  class="p-2">
                                            <div style="border:1px solid #cfe2f5; border-radius:0.25rem;">
                                                <div style="background-color:#e6f0fa;" 
                                                class="d-flex justify-content-center align-items-center flex-column position-relative p-5">
                                                    <img src="/img/plate-and-utensils.svg" alt="" style="font-size: 10px;" class="opacity-50">
                                                    <span class="rounded-pill bg-white p-1 position-absolute font-weight-bold" 
                                                    style="font-size: 12px;color:#0066cc;bottom:5px;">35,000</span>
                                                </div>
                                                <div style="height:62px;" class="product-info d-flex align-items-center justify-content-center">
                                                    <p class="product-name font-weight-bold" style="font-size: 12px;">BÚN ĐẬU MẮM TÔM</p>
                                                </div>
                                            </div>
                                        </li>

                                        <li  class="p-2">
                                            <div style="border:1px solid #cfe2f5; border-radius:0.25rem;">
                                                <div style="background-color:#e6f0fa;" 
                                                class="d-flex justify-content-center align-items-center flex-column position-relative p-5">
                                                    <img src="/img/plate-and-utensils.svg" alt="" style="font-size: 10px;" class="opacity-50">
                                                    <span class="rounded-pill bg-white p-1 position-absolute font-weight-bold" 
                                                    style="font-size: 12px;color:#0066cc;bottom:5px;">35,000</span>
                                                </div>
                                                <div style="height:62px;" class="product-info d-flex align-items-center justify-content-center">
                                                    <p class="product-name font-weight-bold" style="font-size: 12px;">BÚN ĐẬU MẮM TÔM</p>
                                                </div>
                                            </div>
                                        </li>
                                    </ul>
                                </div>

                                
                            </div>
                        </div>

                    </div>
                   
                </div>
            </div>
        </div>
        <div class="right-content col-6 pl-3">
            <div class="right_content-wrapper  bg-white rounded p-4 overflow-y-auto ">
                <div class="right_content-header d-flex flex-row justify-content-start position-relative">
                    <ul class="nav nav-tabs mb-3" id="order-tab" role="tablist">

                        <li class="nav-item d-flex justify-content-center" role="presentation">
                            <a
                            data-mdb-tab-init
                            class="nav-link active font-weight-bold d-flex flex-row align-items-center"
                            id="order-tab-1"
                            href="#order-tabs-1"
                            role="tab"
                            aria-controls="order-tabs-1"
                            aria-selected="true"
                            >
                                HÓA ĐƠN 1
                                <button type="button" id="dlt_tab-btn" class="btn btn-floating btn-secondary ml-2" style="width: 20px; height:20px;">
                                    <i class="fa-solid fa-xmark"></i>
                                </button>
                            </a>
                        </li>
                        
                        {{!-- <li class="nav-item dropdown d-flex justify-content-center" role="presentation">
                            <a
                                data-mdb-dropdown-init
                                class="nav-link dropdown-toggle"
                                href="#"
                                id="navbarDropdownMenuLink"
                                role="button"
                                aria-expanded="false"
                                >
                                <i class="fa-regular fa-file mr-2" style="font-size:17px;"></i> 
                                <span style="font-size: 17px;">3</span>
                            </a>
                            <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                                <li>
                                    <a class="dropdown-item" href="#">HÓA ĐƠN 3</a>
                                </li>
                                <li>
                                    <a class="dropdown-item" href="#">HÓA ĐƠN 4</a>
                                </li>
                                <li>
                                    <a class="dropdown-item" href="#">HÓA ĐƠN 5</a>
                                </li>
                            </ul>
                        </li> --}}
                        
                    </ul>
                     
                     <button type="button" class="btn btn-secondary btn-floating mt-3 ml-2" 
                     style="width:30px;height:30px;" id="add_tab-btn">
                        <i class="lni lni-plus"></i>
                     </button>
                </div>
            </div>
        </div>
    </div>
</div>
{{!-- GHI CHÚ PHÒNG BÀN MODAL --}}
<div class="modal fade" id="exampleModal" tabindex="1" aria-labelledby="exampleModalLabel" aria-hidden="true" >
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Ghi chú phòng/bàn</h5>
        <button type="button" class="btn-close" data-mdb-ripple-init data-mdb-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
            <div class="form-outline" data-mdb-input-init>
                <input type="text" id="form12" class="form-control" />
                <label class="form-label" for="form12">
                    <i class="lni lni-pencil"></i>
                </label>
            </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary d-flex  align-items-center" data-mdb-ripple-init>
            <i class="lni lni-checkmark-circle mr-2"></i>
            Xong
        </button>
        <button type="button" class="btn btn-secondary d-flex align-items-center" data-mdb-ripple-init data-mdb-dismiss="modal">
            <i class="lni lni-ban mr-2"></i>
            Bỏ qua
        </button>
      </div>
    </div>
  </div>
</div>

{{!-- THÊM MÓN MODAL --}}

<div class="modal fade" id="menuModal" tabindex="-1" aria-labelledby="menuModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-xl">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="menuModalLabel">Thêm mới thực đơn</h5>
                <button type="button" class="btn-close d-flex justify-content-center align-items-center border-none" data-mdb-dismiss="modal" aria-label="Close">
                    <i class="lni lni-close"></i>
                </button>
            </div>
            <div class="modal-body">
                <div class="container-fluid">

                    <div class="layout-modal">

                        <div class="layout-modal_item d-flex justify-content-between">
                           
                            <div class="img-area d-flex  justify-content-start">
                                <p class="text-center" style="color:#777">
                                    <span style="font-size: 50px;color:#111" class="mb-2">
                                        <i class="lni lni-cloud-upload fs-20"></i>
                                    </span>
                                    Không có hình ảnh đính kèm
                                </p>

                            </div>
                             <button type="button" class="btn btn-secondary fs-12">
                                <input type="file" id="file-input" name="file-input" class="d-none" accept="image/png, image/jpeg" multiple 
                                enctype='multipart/form-data'/>
                                <label id="file-input-label" for="file-input" class="mb-0">
                                    Thêm hình ảnh
                                </label>
                             </button>
                        </div>

                        <div class="layout-modal_item">
                            <span class="modal-item_header">Tên thực đơn</span>
                            <div class="input-group">
                                <input type="text" class="form-control" placeholder="Nhập tên thực đơn" >
                            </div>
                        </div>

                        <div class="layout-modal_item">
                            <span class="modal-item_header">Loại thực đơn</span>
                            <select class="custom-select">
                                <option selected>Chọn loại thực đơn</option>
                                <option value="1">Đồ ăn</option>
                                <option value="2">Đồ uống</option>
                            </select>
                        </div>
                        <div class="layout-modal_item">
                             <span class="modal-item_header">Giá tiền</span>
                            <div class="input-group">
                                <input type="number" class="form-control" placeholder="Nhập giá tiền" >
                            </div>
                        </div>
                        
                          <div class="layout-modal_item">
                            <span class="modal-item_header">Nhóm thực đơn</span>
                            <select class="custom-select">
                                <option selected>Chọn nhóm thực đơn</option>
                                <option value="">Món tráng miệng</option>
                                <option value="1">Món chính</option>
                                <option value="2">Món phụ</option>
                                <option value="2">Món chay</option>

                            </select>
                        </div>
                      
                    </div>
                </div>
                <div class="modal-footer mt-3">
                    <button type="button" class="btn btn-secondary" data-mdb-dismiss="modal">Hủy</button>
                    <button type="button" class="btn btn-primary">Hoàn thành</button>
                </div>
            </div>
        </div>
    </div>
</div>
<script>
    $(document).ready(function() {
        $('#menu-tab .nav-item').click(function(){
            $('.slider_carousel-5').slick('refresh');
        })
        $('#table-tab').click(function(){
            $('.slider_carousel-6').slick('refresh');
        })
        {{!-- $('#order-tab').slick({
            infinite:false, 
            slidesToShow:4, 
            slidesToScroll:4, 
            prevArrow: '<button type="button" class="slick-prev"><i class="lni lni-arrow-left"></i></button>', 
            nextArrow: '<button type="button" class="slick-next"><i class="lni lni-arrow-right"></i></button>', 
        }) --}}
        $('.slider_carousel-5').slick({
            infinite:false,
            slidesToShow: 5,
            slidesToScroll: 5, 
            prevArrow: '<button type="button" class="slick-prev"><i class="lni lni-arrow-left"></i></button>', 
            nextArrow: '<button type="button" class="slick-next"><i class="lni lni-arrow-right"></i></button>', 
            responsive: [
                 {
                    breakpoint: 1335, 
                    settings: {
                        slidesToShow:4, 
                        slidesToScroll: 4, 
                    }
                }, 
                
                {
                    breakpoint: 1078, 
                    settings: {
                        slidesToShow:3, 
                        slidesToScroll: 3, 
                    }
                }, 
                 {
                    breakpoint: 850,
                    settings: {
                        slidesToShow: 2,
                        slidesToScroll: 2, 
                    }
                }
            ]
        });
        $('.slider_carousel-6').slick({
            infinite:false,
            slidesToShow: 6,
            slidesToScroll: 6, 
            prevArrow: '<button type="button" class="slick-prev"><i class="lni lni-arrow-left"></i></button>', 
            nextArrow: '<button type="button" class="slick-next"><i class="lni lni-arrow-right"></i></button>', 
            responsive: [
                 {
                    breakpoint: 1560, 
                    settings: {
                        slidesToShow:5, 
                        slidesToScroll: 5, 
                    }
                }, 
                
                {
                    breakpoint: 1078, 
                    settings: {
                        slidesToShow:4, 
                        slidesToScroll: 4, 
                    }
                }, 
                 {
                    breakpoint: 850,
                    settings: {
                        slidesToShow: 3,
                        slidesToScroll: 3, 
                    }
                }
            ]
        });
        $('#file-input').change(function(e){
            for(var file of e.target.files)
            {
                 var imageURL = URL.createObjectURL(file);
                 $('.img-area').append
                 (
                    `<div class='img-wrapper'>
                        <img src='${imageURL}'/>
                        <span>&times;</span>
                    <div>
                    `
                );
            }
              $('.img-wrapper span').click(function(e){
                    const parentElm = e.target.parentElement;
                    parentElm.remove();
                    if($('.img-area').children('.img-wrapper').length === 0)
                        $('.img-area p').show();
                 })
            $('.img-area p').hide();
        })
        var index = 1;
        // HANDLE ADD NEW TAB WHEN CLICK ADD BTN
        $('#add_tab-btn').click(function(){
            index++;
            var newTab = $("<li></li>");
            newTab.addClass('nav-item d-flex justify-content-center');
            newTab.attr({
                'role': 'presentation',
                'aria-hidden': 'false' , 
            });
            var aElm = $(`
                <a>HÓA ĐƠN ${index}
                    <button type="button" id="dlt_tab-btn" class="btn btn-floating btn-secondary ml-2" style="width: 20px; height:20px;">
                        <i class="fa-solid fa-xmark"></i>
                    </button>
                </a>`);
            aElm.attr({
                'data-mdb-tab-init':"",           
                'id': `order-tab-${index}`, 
                'href': `#order-tabs-${index}`, 
                'role': 'tab', 
                'aria-controls':`order-tabs-${index}`, 
                'aria-selected': 'false', 
            })
            aElm.addClass('nav-link font-weight-bold d-flex flex-row align-items-center');
            newTab.append(aElm);
            $('#order-tab').prepend(newTab);
            $('#dlt_tab-btn').click(function()
            {
                console.log('click');
            })
        })
        //HANDLE DELETE TAB WHEN CLICK X BTN                       

    });
    
  
</script>