<div class="cashier-wrapper" style="">
    <div class="row">
        <div class="left-content col-6 bg-white rounded  p-4 overflow-y-scroll" >
            <div class="left-content_header d-flex flex-row align-items-center justify-content-between ">
                <ul class="nav nav-tabs mb-3" id="ex1" role="tablist">
                    <li class="nav-item" role="presentation">
                        <a data-mdb-tab-init class="nav-link active d-flex align-items-center " id="ex1-tab-1" href="#ex1-tabs-1" role="tab"
                        aria-controls="ex1-tabs-1" aria-selected="true">
                            <i class="lni lni-airtable mr-2" style="font-size: 25px;"></i>
                            Phòng bàn
                        </a>
                    </li>
                    
                    <li class="nav-item" role="presentation">
                        <a data-mdb-tab-init class="nav-link d-flex align-items-center " id="ex1-tab-2" href="#ex1-tabs-2" role="tab"
                        aria-controls="ex1-tabs-2" aria-selected="false">
                            <i class="fa-solid fa-plate-wheat mr-2" style="font-size: 25px;"></i>
                            Thực đơn
                        </a>
                    </li>
                </ul>

                {{!-- <div class="search">
                    <div class="input-group">
                        <div class="form-outline" data-mdb-input-init>
                            <input type="search" id="form1" class="form-control" />
                            <label class="form-label" for="form1">Tìm phòng bàn</label>
                        </div>
                        <button type="button" class="btn btn-primary" data-mdb-ripple-init>
                            <i class="fas fa-search"></i>
                        </button>
                    </div>
                </div> --}}

                {{!-- <div>
                     <select class="custom-select" id="inputGroupSelect01">
                        <option selected>Tất cả</option>
                        <option value="1">Tầng 1</option>
                        <option value="2">Tầng 2</option>
                    </select>
                </div> --}}
            </div>

            <div class="left-content_main">
                <div class="tab-content" id="ex1-content">
                    <div class="tab-pane fade show active" id="ex1-tabs-1"role="tabpanel"aria-labelledby="ex1-tab-1">
                      
                        <div class="d-flex flex-column align-items-start">

                            <div class="col-sm-12 col-xl-12 col-lg-12 d-flex flex-row mb-3">
                                {{!-- SEARCH --}}
                                <div class="col-12 input-group mr-2">
                                    <div class="form-outline" data-mdb-input-init>
                                        <input type="search" id="form1" class="form-control"/>
                                        <label class="form-label" for="form1">Tìm món</label>
                                    </div>

                                    <button type="button" class="btn btn-primary" data-mdb-ripple-init>
                                        <i class="fas fa-search"></i>
                                    </button>
                                </div>

                            </div>

                            <ul class="col-12  nav nav-tabs" id="ex1" role="tablist">
                                <li class="nav-item" role="presentation">
                                    <a data-mdb-tab-init class="nav-link active" id="ex1-tab-3" href="#ex1-tabs-3" role="tab"
                                    aria-controls="ex1-tabs-3" aria-selected="true" >Tất cả</a>
                                </li>
                                <li class="nav-item" role="presentation">
                                    <a
                                    data-mdb-tab-init
                                    class="nav-link" id="ex1-tab-4" href="#ex1-tabs-4" role="tab" aria-controls="ex1-tabs-4"
                                    aria-selected="false">Tầng 1</a>
                                </li>
                                <li class="nav-item" role="presentation">
                                    <a data-mdb-tab-init class="nav-link" id="ex1-tab-4" href="#ex1-tabs-4" role="tab"
                                    aria-controls="ex1-tabs-4" aria-selected="false">Tầng 2</a>
                                </li>
                                
                            </ul>

                              
                        </div>

                        <div class="tab-content" id="ex13-content">
                            <div class="tab-pane fade show active" id="ex1-tabs-3"role="tabpanel" aria-labelledby="ex1-tab-3">
                                <div>
                                    <h5  class="font-weight-bold">TẦNG 1</h5>
                                    <ul class="d-flex flex-wrap">
                                        <li class="m-1">
                                            <button type="button" class="red-tooltip btn btn-light  d-flex flex-column align-items-center justify-content-center" 
                                            data-mdb-tooltip-init data-mdb-placement="right" data-mdb-html="true" 
                                            title="
                                            <div class='d-flex flex-column align-items-start'>
                                                <div>
                                                    <span class='font-weight-bold'>Tổng tiền:</span> 
                                                    <span>35,000</span>
                                                </div> 
                                                </br>

                                                <div>
                                                    <span class='font-weight-bold'>Số đơn:</span> 
                                                    <span>1 đơn</span>
                                                </div> 
                                                </br>

                                                <div>
                                                    <span class='font-weight-bold'>Số khách</span> 
                                                    <span>4 khách</span>
                                                </div> 
                                                </br>

                                                <div>
                                                    <span class='font-weight-bold'>Tổng thời gian</span> 
                                                    <span>1 giờ</span>
                                                </div> 
                                                </br>

                                            </div>
                                            " 
                                            data-mdb-container="body">
                                                <p class="font-weight-bold mb-2">Bàn số 1</p>
                                                <img src="/img/table-icon.svg" alt="" >
                                                <span class="mt-2 mb-2">Bàn 4 người</span>
                                                <p style="font-size:10px !important;" class="text-dark opacity-50"
                                                data-mdb-ripple-init data-mdb-modal-init data-mdb-target="#exampleModal">
                                                    Nhập ghi chú ...
                                                </p>
                                            </button>
                                            
                                        </li>
                                        <li class="m-1">
                                            <button type="button" class="btn btn-primary d-flex flex-column align-items-center">
                                                <p class="font-weight-bold mb-2">Bàn số 2</p>
                                                <img src="/img/table-icon-select.svg" alt="">
                                                <span class="mt-2 mb-2">Bàn 6 người</span>
                                                <p style="font-size:10px !important;" class="text-light opacity-50">Nhập ghi chú ...</p>
                                            </button>
                                        </li>
                                        <li class="m-1">
                                            <button type="button" class="btn btn-secondary d-flex flex-column align-items-center justify-content-center" 
                                            >
                                                <p class="font-weight-bold mb-2">Bàn số 1</p>
                                                <img src="/img/table-icon-active.svg" alt="" >
                                                <span class="mt-2 mb-2">Bàn 4 người</span>
                                                <p style="font-size:10px !important;" class="text-dark opacity-50">Nhập ghi chú ...</p>
                                            </button>
                                            
                                        </li>
                                      
                                    </ul>
                                </div>

                                <div>
                                    <h5 class="font-weight-bold">TẦNG 2</h5>
                                    <ul class="d-flex flex-wrap">
                                        <li class="m-1">
                                            <button type="button" class="btn btn-secondary d-flex flex-column align-items-center justify-content-center" 
                                            >
                                                <p class="font-weight-bold mb-2">Bàn số 1</p>
                                                <img src="/img/table-icon-active.svg" alt="" >
                                                <span class="mt-2 mb-2">Bàn 4 người</span>
                                                <p style="font-size:10px !important;" class="text-dark opacity-50">Nhập ghi chú ...</p>
                                            </button>
                                            
                                        </li>
                                        <li class="m-1">
                                            <button type="button" class="btn btn-primary d-flex flex-column align-items-center">
                                                <p class="font-weight-bold mb-2">Bàn số 2</p>
                                                <img src="/img/table-icon-select.svg" alt="">
                                                <span class="mt-2 mb-2">Bàn 6 người</span>
                                                <p style="font-size:10px !important;" class="text-light opacity-50">Nhập ghi chú ...</p>
                                            </button>
                                        </li>
                                      
                                    </ul>
                                </div>
                            </div>
                            <div class="tab-pane fade" id="ex1-tabs-4" role="tabpanel" aria-labelledby="ex1-tab-4">
                                Tab 2 content
                            </div>
                            <div class="tab-pane fade" id="ex1-tabs-5" role="tabpanel" aria-labelledby="ex1-tab-5">
                                Tab 3 content
                            </div>
                        </div>

                    </div>
                    <div class="tab-pane fade" id="ex1-tabs-2" role="tabpanel" aria-labelledby="ex1-tab-2">
                        <div class="d-flex flex-column align-items-center">
                            <div class="col-sm-12 col-xl-6  d-flex flex-row  mb-3">
                                {{!-- SEARCH --}}
                                <div class="col-11 input-group mr-2">
                                    <div class="form-outline" data-mdb-input-init>
                                        <input type="search" id="form1" class="form-control"/>
                                        <label class="form-label" for="form1">Tìm món</label>
                                    </div>

                                    <button type="button" class="btn btn-primary" data-mdb-ripple-init>
                                        <i class="fas fa-search"></i>
                                    </button>
                                </div>

                                <button type="button" class="btn btn-primary btn-floating col-5">
                                    <i class="lni lni-plus"></i>
                                </button>
                            </div>

                            <ul class="col-12 nav nav-tabs" id="ex1" role="tablist">
                                <li class="nav-item" role="presentation">
                                    <a data-mdb-tab-init class="nav-link active" id="ex1-tab-6" href="#ex1-tabs-6" role="tab" 
                                    aria-controls="ex1-tabs-6" aria-selected="true" >Tất cả</a>
                                </li>
                                <li class="nav-item" role="presentation">
                                    <a data-mdb-tab-init class="nav-link" id="ex1-tab-7" href="#ex1-tabs-7"
                                    role="tab" aria-controls="ex1-tabs-7" aria-selected="false" >
                                        Thức ăn
                                    </a>
                                </li>
                                <li class="nav-item" role="presentation">
                                    <a data-mdb-tab-init class="nav-link" id="ex1-tab-8" href="#ex1-tabs-8"
                                    role="tab" aria-controls="ex1-tabs-8" aria-selected="false">
                                        Thức uống
                                    </a>
                                </li>
                            </ul>
                            
                            

                        </div>

                        <div class="tab-content w-100 h-100" id="ex1-content">
                            <div class="tab-pane fade show active"  id="ex1-tabs-6" role="tabpanel"aria-labelledby="ex1-tab-6" >
                                <div>
                                    <h5 style="font-size: 14px;" class="font-weight-bold">
                                        THỨC ĂN
                                    </h5>
                                    <ul class="d-flex flex-wrap">
                                        <li  class="p-2">
                                            <div style="border:1px solid #cfe2f5; border-radius:0.25rem;">
                                                <div style="background-color:#e6f0fa;" 
                                                class="d-flex justify-content-center align-items-center flex-column position-relative p-5">
                                                    <img src="/img/plate-and-utensils.svg" alt="" style="font-size: 10px;" class="opacity-50">
                                                    <span class="rounded-pill bg-white p-1 position-absolute font-weight-bold" 
                                                    style="font-size: 12px;color:#0066cc;bottom:5px;">35,000</span>
                                                </div>
                                                <div style="height:62px;" class="product-info d-flex align-items-center justify-content-center">
                                                    <p class="product-name font-weight-bold" style="font-size: 12px;">Bún đậu mắm tôm</p>
                                                </div>
                                            </div>
                                        </li>

                                        <li  class="p-2">
                                            <div style="border:1px solid #cfe2f5; border-radius:0.25rem;">
                                                <div style="background-color:#e6f0fa;" 
                                                class="d-flex justify-content-center align-items-center flex-column position-relative p-5">
                                                    <img src="/img/plate-and-utensils.svg" alt="" style="font-size: 10px;" class="opacity-50">
                                                    <span class="rounded-pill bg-white p-1 position-absolute font-weight-bold" 
                                                    style="font-size: 12px;color:#0066cc;bottom:5px;">35,000</span>
                                                </div>
                                                <div style="height:62px;" class="product-info d-flex align-items-center justify-content-center">
                                                    <p class="product-name font-weight-bold" style="font-size: 12px;">Bún đậu mắm tôm</p>
                                                </div>
                                            </div>
                                        </li>

                                        <li  class="p-2">
                                            <div style="border:1px solid #cfe2f5; border-radius:0.25rem;">
                                                <div style="background-color:#e6f0fa;" 
                                                class="d-flex justify-content-center align-items-center flex-column position-relative p-5">
                                                    <img src="/img/plate-and-utensils.svg" alt="" style="font-size: 10px;" class="opacity-50">
                                                    <span class="rounded-pill bg-white p-1 position-absolute font-weight-bold" 
                                                    style="font-size: 12px;color:#0066cc;bottom:5px;">35,000</span>
                                                </div>
                                                <div style="height:62px;" class="product-info d-flex align-items-center justify-content-center">
                                                    <p class="product-name font-weight-bold" style="font-size: 12px;">Bún đậu mắm tôm</p>
                                                </div>
                                            </div>
                                        </li>
                                    </ul>
                                </div>

                            </div>
                            <div class="tab-pane fade" id="ex1-tabs-7" role="tabpanel" aria-labelledby="ex1-tab-7">
                                Tab 2 content
                            </div>
                            <div class="tab-pane fade" id="ex1-tabs-8" role="tabpanel" aria-labelledby="ex1-tab-8">
                                Tab 3 content
                            </div>
                        </div>

                    </div>
                   
                </div>
            </div>
        </div>
        <div class="col-5">

        </div>
    </div>
</div>

<div class="modal fade" id="exampleModal" tabindex="1" aria-labelledby="exampleModalLabel" aria-hidden="true" >
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Ghi chú phòng/bàn</h5>
        <button type="button" class="btn-close" data-mdb-ripple-init data-mdb-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
            <div class="form-outline" data-mdb-input-init>
                <input type="text" id="form12" class="form-control" />
                <label class="form-label" for="form12">
                    <i class="lni lni-pencil"></i>
                </label>
            </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary d-flex  align-items-center" data-mdb-ripple-init>
            <i class="lni lni-checkmark-circle mr-2"></i>
            Xong
        </button>
        <button type="button" class="btn btn-secondary d-flex align-items-center" data-mdb-ripple-init data-mdb-dismiss="modal">
            <i class="lni lni-ban mr-2"></i>
            Bỏ qua
        </button>
      </div>
    </div>
  </div>
</div>