
<div class="row" style="margin:0 !important">
    <div class="col-2 left-content" style="min-height: 100vh;box-shadow:0 4px 12px 0 rgba( 0, 0, 0, 0.07), 0 2px 4px rgba(0,0,0, 0.05);">
        <div class="d-flex">
            <button class="toggle-btn" type="button">
                <img src="/img/logo.png" alt="" />
            </button>
            <div class="sidebar-logo">
            <a href="/" style="color:#111 !important;">
                HA NOI
                <br />
                Cuisine Corner
            </a>
            </div>
        </div>
        <div class="form-group mt-4">
            <p class="font-weight-bold">Tìm kiếm</p>
            <div class="form-outline mt-3" data-mdb-input-init>
                <input type="text" id="form12" class="form-control" />
                <label class="form-label d-flex align-items-center" for="form12">Theo mã đặt bàn  <i class="lni lni-search-alt ml-1"></i></label>
            </div>
        </div>

        <div class="form-group mt-4">
            <p class="font-weight-bold">Thời gian đặt bàn</p>
            <div class="form-outline mt-3" data-mdb-input-init>
               <div class="form-check">
                    <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault1" checked/>
                    <label class="form-check-label d-flex justify-content-between align-items-center" for="flexRadioDefault1">
                        Toàn thời gian 
                        <div class="dropdown">
                            <button class=" text-white" id="dropdownMenuButton" data-mdb-dropdown-init data-mdb-ripple-init
                                aria-expanded="false" style="border:none;background-color:transparent; " >
                                <i class="lni lni-calendar"></i>
                            </button>
                            <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                
                                <li><a class="dropdown-item" href="#">Another action</a></li>
                                <li><a class="dropdown-item" href="#">Something else here</a></li>
                            </ul>
                        </div>
                    </label>
                </div>
            </div>
        </div>

        <div class="form-group mt-4">
            <p class="font-weight-bold">Phòng/Bàn</p>
            <div class="form-outline mt-3" data-mdb-input-init>
                <select class="custom-select" id="inputGroupSelect01">
                    <option selected>--Chọn phòng bàn--</option>
                    <option value="1">Bàn 2 người</option>
                    <option value="2">Bàn 4 người</option>
                    <option value="3">Bàn 6 người</option>
                </select>
            </div>
        </div>

         <div class="form-group mt-4">
            <p class="font-weight-bold">Lựa chọn hiển thị</p>
            <div class="form-outline mt-3" data-mdb-input-init>
                <div class="form-check mb-2">
                    <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault" />
                    <label class="form-check-label" for="flexCheckDefault">Lượt khách quá giờ</label>
                </div>
                <div class="form-check">
                    <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault" />
                    <label class="form-check-label" for="flexCheckDefault">Lượt khách sắp đến</label>
                </div>
            </div>
        </div>
    </div>
    <div class="col-10">
        <div class="row p-2">
           
            <div class="col-12 d-flex justify-content-between" >
                <div class="d-flex flex-row align-items-center">
                    <div class="form-check mr-3">
                        <input class="form-check-input booking_status-input-1" type="checkbox" value="" id="flexCheckDefault" checked/>
                        <label class="form-check-label " for="flexCheckDefault">Chờ xếp bàn</label>
                    </div>

                    <div class="form-check mr-3">
                        <input class="form-check-input booking_status-input-2" type="checkbox" value="" id="flexCheckChecked" checked/>
                        <label class="form-check-label " for="flexCheckChecked">Đã xếp bàn</label>
                    </div>

                    <div class="form-check mr-3">
                        <input class="form-check-input booking_status-input-3" type="checkbox" value="" id="flexCheckChecked" checked/>
                        <label class="form-check-label" for="flexCheckChecked">Đã nhận bàn</label>
                    </div>

                    <div class="form-check">
                        <input class="form-check-input booking_status-input-4" type="checkbox" value="" id="flexCheckChecked" />
                        <label class="form-check-label" for="flexCheckChecked">Đã hủy</label>
                    </div>

                </div>
                <div class="d-flex flex-row align-items-center">
                    <button type="button" class="btn btn-outline-primary mr-2 d-flex align-items-center">
                        Xuất file <i class="lni lni-arrow-right ml-2"></i>
                    </button>
                    <button type="button" class="btn btn-primary d-flex align-items-center mr-2"
                    data-toggle="modal" data-target="#exampleModal">
                        Đặt bàn <i class="fa-regular fa-calendar-check ml-2"></i>
                    </button>
                    <div class="dropdown">
                        <button
                        style="border:none;background-color:transparent;" 
                            class="d-flex align-items-center justify-content-center"
                            id="dropdownMenuButton"
                            data-mdb-dropdown-init
                            data-mdb-ripple-init
                            aria-expanded="false"
                        >
                              <i class="lni lni-menu"></i>
                        </button>
                        <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                            <li>
                                <a class="dropdown-item" href="#"> <i class="fa-regular fa-pen-to-square"></i>Thu ngân </a>
                            </li>
                            <li>
                                <a class="dropdown-item d-flex align-items-center" href="#"> <i class="lni lni-write"></i>Quản lý </a>
                            </li>
                        </ul>
                        </div>
                   
                </div>
            </div>
        </div>
        <div class="row mt-4">
            <div class="col-12">
                <table class="table table-hover">
                <thead>
                    <tr class="table-primary">
                        <th scope="col">
                            <input type="checkbox" value=""/>
                        </th>
                        <th scope="col">Mã đặt bàn</th>
                        <th scope="col">Giờ đến</th>
                        <th scope="col">Khách hàng</th>
                        <th scope="col">Điện thoại</th>
                        <th scope="col">Số khách</th>
                        <th scope="col">Phòng/Bàn</th>
                        <th scope="col">Trạng thái</th>
                        <th scope="col">Ghi chú</th>
                        <th scope="col">Hành động</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>
                             <input type="checkbox" value=""/>
                        </td>
                        <th scope="row">DB00001</th>
                        <td>11:30 19/03/2024</td>
                        <td>Vũ Đình Dũng</td>
                        <td>0869370492</td>
                        <td>1</td>
                        <td>bàn 4 người</td>
                        <td>
                            <span class="badge badge-info rounded-pill d-inline">Đã nhận bàn</span>
                        </td>
                        <td></td>
                        <td>
                            <button style="border:none;background-color:transparent;font-size:17px;" data-mdb-tooltip-init title="Cập nhập">
                                <i class="lni lni-pencil-alt"></i>
                            </button>
                            <button style="border:none;background-color:transparent;font-size:17px;" data-mdb-tooltip-init title="Nhận bàn">
                                <i class="lni lni-checkmark"></i>
                            </button>
                             <button style="border:none;background-color:transparent;font-size:17px;" data-mdb-tooltip-init title="Nhận gọi món">
                                <i class="fa-solid fa-file-circle-plus"></i>
                            </button>
                            <button style="border:none;background-color:transparent;font-size:17px;" data-mdb-tooltip-init title="Hủy đặt">
                                <i class="lni lni-trash-can"></i>
                            </button>
                        </td>
                    </tr>
                    <tr>
                        <td>
                             <input type="checkbox" value=""/>
                        </td>
                        <th scope="row">DB00002</th>
                        <td>11:30 19/03/2024</td>
                        <td>Vũ Đình Dũng</td>
                        <td>0869370492</td>
                        <td>1</td>
                        <td>bàn 4 người</td>
                        <td>
                            <span class="badge badge-success rounded-pill d-inline">Đã xếp bàn</span>
                        </td>
                        <td></td>
                        <td>
                            <button style="border:none;background-color:transparent;font-size:17px;" data-mdb-tooltip-init title="Cập nhập">
                                <i class="lni lni-pencil-alt"></i>
                            </button>
                            <button style="border:none;background-color:transparent;font-size:17px;" data-mdb-tooltip-init title="Nhận bàn">
                                <i class="lni lni-checkmark"></i>
                            </button>
                             <button style="border:none;background-color:transparent;font-size:17px;" data-mdb-tooltip-init title="Nhận gọi món">
                                <i class="fa-solid fa-file-circle-plus"></i>
                            </button>
                            <button style="border:none;background-color:transparent;font-size:17px;" data-mdb-tooltip-init title="Hủy đặt">
                                <i class="lni lni-trash-can"></i>
                            </button>
                        </td>
                    </tr>
                    <tr>
                        <td>
                             <input type="checkbox" value=""/>
                        </td>
                        <th scope="row">DB00003</th>
                        <td>11:30 19/03/2024</td>
                        <td>Vũ Đình Dũng</td>
                        <td>0869370492</td>
                        <td>1</td>
                        <td>bàn 4 người</td>
                        <td>
                            <span class="badge badge-warning rounded-pill d-inline">Chờ xếp bàn</span>
                        </td>
                        <td></td>
                        <td>
                            <button style="border:none;background-color:transparent;font-size:17px;" data-mdb-tooltip-init title="Cập nhập">
                                <i class="lni lni-pencil-alt"></i>
                            </button>
                            <button style="border:none;background-color:transparent;font-size:17px;" data-mdb-tooltip-init title="Nhận bàn">
                                <i class="lni lni-checkmark"></i>
                            </button>
                             <button style="border:none;background-color:transparent;font-size:17px;" data-mdb-tooltip-init title="Nhận gọi món">
                                <i class="fa-solid fa-file-circle-plus"></i>
                            </button>
                            <button style="border:none;background-color:transparent;font-size:17px;" data-mdb-tooltip-init title="Hủy đặt">
                                <i class="lni lni-trash-can"></i>
                            </button>
                        </td>
                    </tr>
                    <tr>
                        <td>
                             <input type="checkbox" value=""/>
                        </td>
                        <th scope="row">DB00004</th>
                        <td>11:30 19/03/2024</td>
                        <td>Vũ Đình Dũng</td>
                        <td>0869370492</td>
                        <td>1</td>
                        <td>bàn 4 người</td>
                        <td>
                            <span class="badge badge-danger rounded-pill d-inline">Đã hủy</span>
                        </td>
                        <td></td> 
                        <td>
                            <button style="border:none;background-color:transparent;font-size:17px;" data-mdb-tooltip-init title="Cập nhập">
                                <i class="lni lni-pencil-alt"></i>
                            </button>
                            <button style="border:none;background-color:transparent;font-size:17px;" data-mdb-tooltip-init title="Nhận bàn">
                                <i class="lni lni-checkmark"></i>
                            </button>
                             <button style="border:none;background-color:transparent;font-size:17px;" data-mdb-tooltip-init title="Nhận gọi món">
                                <i class="fa-solid fa-file-circle-plus"></i>
                            </button>
                            <button style="border:none;background-color:transparent;font-size:17px;" data-mdb-tooltip-init title="Hủy đặt">
                                <i class="lni lni-trash-can"></i>
                            </button>
                        </td>
                    </tr>
                    
                </tbody>
                </table>
            </div>
        </div>
    </div>
</div>







<!-- Modal -->
<div class="modal fade" id="exampleModal" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered modal-lg" style="max-width:1000px;">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Thêm mới đặt bàn</h5>
        <button type="button" class="btn-close"data-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <div class="row d-flex justify-content-between">
            <div class="col-6">
                <div class="row d-flex align-items-center mb-3">
                    <p class="col-3 font-weight-bold">Khách hàng</p>
                    <div class="col-8 input-group_content rounded-pill p-2 d-flex align-items-center" style="background-color:#f5f5f6;">
                        <i class="lni lni-search-alt ml-2"></i>
                        <input type="text" class="ml-2 mr-2 border-0" style="background-color:#f5f5f6;width:100%;" placeholder="Tìm khách hàng">
                        <button class="border-0 rounded-circle bg-white d-flex align-items-center justify-content-center" 
                        style="width: 25px; height:25px;" data-toggle="modal" data-target="#exampleModal3">
                            <i class="lni lni-plus"></i>
                        </button>
                    </div>
                </div>

                <div class="row d-flex align-items-center mb-3">
                    <p class="col-3 font-weight-bold">Mã đặt bàn</p>
                    <div class="col-8 input-group_content  d-flex align-items-center  p-1" style="border-bottom:1px solid #dddddd">
                        <input type="text" class="border-bottom-primary border-0" placeholder="Tìm khách hàng" style="width:100%;">
                    </div>
                </div>
                <div class="row d-flex align-items-center mb-3">
                    <p class="col-3 font-weight-bold">Giờ đến</p>
                    <div class="col-8 input-group_content  d-flex align-items-center  p-1" style="border-bottom:1px solid #dddddd">
                        <input type="text" class="datetime-pick_input border-bottom-primary border-0" placeholder="Tìm khách hàng" style="width:100%;">
                        <i class="lni lni-calendar mr-3"></i>
                        <i class="lni lni-alarm-clock"></i>
                    </div>
                </div>
                <div class="row d-flex align-items-center mb-3">
                    <p class="col-3 font-weight-bold">Thời lượng</p>
                    <div class="col-8 input-group_content  d-flex align-items-center  p-1 row" >
                         <select class="custom-select col-4 border-0" id="inputGroupSelect01">
                            <option value="1" selected>Giờ</option>
                            <option value="2">Ngày</option>
                        </select>
                        <div style="border-bottom:1px solid #dddddd" class="col-3 ml-4">
                            <input type="text" class=" border-bottom-primary border-0" value="1">
                        </div>
                    </div>
                </div>
                <div class="row d-flex align-items-center mb-3">
                    <p class="col-3 font-weight-bold">Số khách</p>
                    <div class="col-8 row input-group_content  p-1 d-flex flex-column">
                        <div class="col-12 row d-flex flex-row mb-2">
                            <p class="col-6 d-flex flex-row align-items-center">
                                <i class="fa-solid fa-person mr-2"></i>Người lớn
                            </p>
                            <div style="border-bottom:1px solid #dddddd" class="col-6">
                                <input type="text" class=" border-bottom-primary border-0"  >
                            </div>
                        </div>

                         <div class="col-12 row d-flex flex-row">
                            <p class="col-6 d-flex flex-row align-items-center">
                                <i class="fa-solid fa-person mr-2"></i>Trẻ em
                            </p>
                            <div style="border-bottom:1px solid #dddddd" class="col-6">
                                 <input type="text" class=" border-bottom-primary border-0" >
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-6">
                 <div class="row d-flex align-items-center mb-3">
                    <p class="col-3 font-weight-bold text-left mr-2">NV nhận đặt</p>
                    <div class="col-8 input-group_content  d-flex align-items-center  p-1" style="border-bottom:1px solid #dddddd">
                        <input type="text" class="border-bottom-primary border-0" value="Vũ Đình Dũng" readonly>
                    </div>
                </div>

                <div class="row d-flex align-items-center mb-3">
                    <p class="col-3 font-weight-bold text-left mr-2">Phòng/Bàn</p>
                    <div class="col-8 input-group_content  d-flex align-items-center  p-1" >
                        {{!-- <input type="text" class="border-bottom-primary border-0"  placeholder="Chờ xếp bàn"> --}}
                         <select class="js-example-basic-multiple" name="states[]" multiple="multiple">
                            <option value="AL">Alabama</option>
                                ...
                            <option value="WY">Wyoming</option>
                        </select>
                    </div>
                    <div class="col-12 text-right  mt-2" style="font-size: 12px;" >
                        <a class="see-table_btn" data-toggle="modal" data-target="#exampleModal2">Xem bàn trống</a>
                    </div>
                </div>
                <div class="row d-flex align-items-center">
                   <div class="col-10 input-group_content  d-flex align-items-center  p-1" style="border-bottom:1px solid #dddddd">
                        <i class="lni lni-pencil mr-2"></i>
                        <input type="text" class="border-bottom-primary border-0" placeholder="Ghi chú">
                    </div>
                </div>
            </div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary d-flex align-items-center" > 
            <i class="lni lni-save mr-2"></i> 
            Lưu
        </button>
        <button type="button" class="btn btn-secondary d-flex align-items-center"data-dismiss="modal"> 
            <i class="lni lni-ban mr-2"></i>
            Bỏ qua
        </button>
      </div>
    </div>
  </div>
</div>

<div class="modal fade modal-second" id="exampleModal2"  role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered modal-lg modal-dialog-scrollable" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Danh sách phòng bàn trống</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
       <!-- Tabs navs -->
        <ul class="nav nav-tabs mb-3" id="ex1" role="tablist">
        
        <li class="nav-item" role="presentation">
             <a data-mdb-tab-init class="nav-link active"  id="ex1-tab-2" href="#ex1-tabs-2"
            role="tab" aria-controls="ex1-tabs-2" aria-selected="false">
                Tầng 1
            </a>
        </li>
        <li class="nav-item" role="presentation">
             <a data-mdb-tab-init class="nav-link "  id="ex1-tab-3" href="#ex1-tabs-3"
            role="tab" aria-controls="ex1-tabs-3" aria-selected="false">
                Tầng 2
            </a>
        </li>
        </ul>
        <!-- Tabs navs -->

        <!-- Tabs content -->
        <div class="tab-content" id="ex1-content">
        
            <div class="tab-pane fade show active floor-1" id="ex1-tabs-2" role="tabpanel" aria-labelledby="ex1-tab-2">
                <div class="tab-pane_content d-flex flex-wrap floor-1_content">

                    <button type="button" class="btn d-flex flex-column align-items-center">
                        <div class="table-header mb-2">
                            <span>Bàn số 1</span>
                            <i class="lni lni-checkmark d-none" style="color:#0066CC;"></i>
                        </div>
                        <span class="mb-2">
                            <i class="fa-solid fa-ticket"></i> 4
                        </span>
                        <span style="font-size: 10px;">Bàn 4 người</span>
                    </button>
                    
                    <button type="button" class="btn d-flex flex-column align-items-center">
                        <div class="table-header mb-2">
                            <span>Bàn số 2</span>
                            <i class="lni lni-checkmark d-none" style="color:#0066CC;"></i>
                        </div>
                        <span class="mb-2">
                            <i class="fa-solid fa-ticket"></i> 4
                        </span>
                        <span style="font-size: 10px;">Bàn 4 người</span>
                    </button>
                
                    <button type="button" class="btn d-flex flex-column align-items-center">
                        <div class="table-header mb-2">
                            <span>Bàn số 3</span>
                            <i class="lni lni-checkmark d-none" style="color:#0066CC;"></i>
                        </div>
                        <span class="mb-2">
                            <i class="fa-solid fa-ticket"></i> 4
                        </span>
                        <span style="font-size: 10px;">Bàn 4 người</span>
                    </button>
                </div>

            </div>
            <div class="tab-pane fade floor-2" id="ex1-tabs-3" role="tabpanel" aria-labelledby="ex1-tab-3">
                <div class="tab-pane_content d-flex flex-wrap">

                    <button type="button" class="btn d-flex flex-column align-items-center">
                        <div class="mb-2">
                            <span>Bàn số 1</span>
                        </div>
                        <span class="mb-2">
                            <i class="fa-solid fa-ticket"></i> 4
                        </span>
                        <span style="font-size: 10px;">Bàn 4 người</span>
                    </button>
                    
                    <button type="button" class="btn d-flex flex-column align-items-center">
                        <div class="mb-2">
                            <span>Bàn số 2</span>
                        </div>
                        <span class="mb-2">
                            <i class="fa-solid fa-ticket"></i> 4
                        </span>
                        <span style="font-size: 10px;">Bàn 4 người</span>
                    </button>
                
                    <button type="button" class="btn d-flex flex-column align-items-center" disabled>
                        <div class="mb-2">
                            <span>Bàn số 3</span>
                            <i class="lni lni-checkmark" style="color:#0066CC;"></i>
                        </div>
                        <span class="mb-2">
                            <i class="fa-solid fa-ticket"></i> 4
                        </span>
                        <span style="font-size: 10px;">Bàn 4 người</span>
                    </button>
                </div>
            </div>

        </div>
        <!-- Tabs content -->
      </div>
      <div class="modal-footer">
        <button type="button" class="acpt-btn btn btn-primary d-flex align-items-center" disabled data-dismiss="modal">
            <i class="lni lni-checkmark-circle mr-2"></i>
            Chọn
        </button>
        <button type="button" class="btn btn-secondary d-flex align-items-center" data-dismiss="modal">
            <i class="lni lni-ban mr-2"></i>
            Close
            </button>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="exampleModal3" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Thêm khách hàng</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body row">
        <div class="col-3 d-flex justify-content-center flex-column align-items-center">
            <div class="image-wrapper mb-2 d-flex justify-content-center align-items-center" style="font-size: 40px;color:#999999">
                <i class="lni lni-camera" ></i>
            </div>
            <button type="button" class="btn rounded-pill btn-secondary">Chọn ảnh</button>
        </div>

        <div class="col-8">
           
                <div class="row d-flex align-items-center mb-3">
                    <p class="col-4 font-weight-bold text-left">Tên khách hàng</p>
                    <div class="col-8 d-flex align-items-center" style="border-bottom:1px solid #dddddd">
                        <input type="text" class="border-bottom-primary border-0">
                    </div>
                </div>

                <div class="row d-flex align-items-center mb-3">
                    <p class="col-4 font-weight-bold text-left">Điện thoại</p>
                    <div class="col-8 d-flex align-items-center" style="border-bottom:1px solid #dddddd">
                        <input type="text" class="border-bottom-primary border-0" placeholder="Ví dụ: 0912345678">
                    </div>
                </div>

                <div class="row d-flex align-items-center mb-3">
                    <p class="col-4 font-weight-bold text-left">Ngày sinh</p>
                    <div class="col-8 d-flex align-items-center" style="border-bottom:1px solid #dddddd">
                        <input type="text" class="birthdate-input border-bottom-primary border-0" placeholder="Ngày/Tháng/Năm" style="width:100%;">
                        <i class="lni lni-calendar"></i>
                    </div>
                </div>

                <div class="row d-flex align-items-center mb-3">
                    <p class="col-4 font-weight-bold text-left">Địa chỉ</p>
                    <div class="col-8 d-flex align-items-center" style="border-bottom:1px solid #dddddd">
                        <input type="text" class="border-bottom-primary border-0">
                    </div>
                </div>

                <div class="row d-flex align-items-center mb-3">
                    <p class="col-4 font-weight-bold text-left">Giới tính</p>
                    <div class="col-8 d-flex align-items-center">
                        <div class="form-check mr-3">
                            <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault1"/>
                            <label class="form-check-label" for="flexRadioDefault1">Nam</label>
                        </div>

                        <!-- Default checked radio -->
                        <div class="form-check">
                            <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault2" />
                            <label class="form-check-label" for="flexRadioDefault2">Nữ</label>
                        </div>
                    </div>
                </div>

                <div class="row d-flex align-items-center mb-3">
                    <p class="col-4 font-weight-bold text-left">Email</p>
                    <div class="col-8 d-flex align-items-center" style="border-bottom:1px solid #dddddd">
                        <input type="text" class="border-bottom-primary border-0">
                    </div>
                </div>
                <div class="row d-flex align-items-center">
                     <div class="col-12 input-group_content  d-flex align-items-center  p-1" style="border-bottom:1px solid #dddddd">
                        <i class="lni lni-pencil mr-2"></i>
                        <input type="text" class="border-bottom-primary border-0" placeholder="Ghi chú">
                    </div>
                </div>

        </div>
      </div>
      <div class="modal-footer">
         <button type="button" class="btn btn-primary d-flex align-items-center" > 
            <i class="lni lni-save mr-2"></i> 
            Lưu
        </button>
        <button type="button" class="btn btn-secondary d-flex align-items-center"data-dismiss="modal"> 
            <i class="lni lni-ban mr-2"></i>
            Bỏ qua
        </button>
      </div>
    </div>
  </div>
</div>

<script>
    $(".datetime-pick_input").flatpickr({
        enableTime: true,
        minDate: "today", 
        dateFormat: "d/m/Y H:i", 
        maxDate: new Date().fp_incr(7), 
        defaultDate:`${new Date().getDate()}/${new Date().getMonth() +1}/${new Date().getFullYear()} ${new Date().getHours()}:${new Date().getMinutes()}`, 
        time_24hr: true, 
        allowInput: true,
        minuteIncrement: 30,
        position:"auto center"
    });
    $(".birthdate-input").flatpickr({                                                                                     
        dateFormat: "d/m/Y", 
        allowInput: true,
        position:"auto center"
    });
    
</script>

<script>
   
    $('.floor-1_content button').click(function(){
        
        //toggle select button, thêm màu khi select
        $(this).toggleClass('selected');
        if($(this).hasClass('selected'))
            $(this).css('background-color', '#e2eaf7');
        else 
            $(this).css('background-color', '#fff');
        // nếu có button được select thì nút chọn sẽ hiện và ngược lại
        if($('.floor-1_content button').hasClass('selected'))
            $('.acpt-btn').removeAttr('disabled');
        else                      
            $('.acpt-btn').prop('disabled', true);
    });
    $('.acpt-btn').click(function(){
        //$('.floor-1_content button.selected').prop('disabled', true);
        $('.floor-1_content button.selected .table-header i').removeClass('d-none');
    })
   
   
    $('.js-example-basic-multiple').select2({
        dropdownParent: $("#exampleModal"), 
        placeholder:'Chờ xếp bàn', 
        width:'100%', 
    });
</script>

